<!-- Dashboard -->

<!-- Navigation -->

<nav class="navbar navbar-light navbar-fixed-top">
   
    <a href="#" class="nav-logo"></a>

    <div class="container nav-container">

        <ul class="nav-right-center">
            <div class"row">
                <ul>
                    <li>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <a href="" class="btn-typo-nav" id="logoutbutton">Logout</a>
                        <a href="" class="btn-xs btn-nav" id="">Touren</a>
                    </li>
                </ul>
            </div>
        </ul>

        <div class="dropdown nav-lang">
             <a href="" class="dropdown-toggle btn-typo-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id ="">Sprache</a>
            <ul class="dropdown-menu nav-dropdown pull-right" id="">
                <li>
                    <a href="" id="ger" class="nav-dropdown-item">Deutsch</a>
                </li>
                <li>
                    <a href="" id="eng" class="nav-dropdown-item">Englisch</a>
                </li>
            </ul>
        </div>

    </div>

</nav>

<!-- Head image -->

<section id="dashboard-header-image">

<div class="dashboard-header-container">
    <div class="dashboard-header-typo-container text-center">
        <h2 class="typo-head-big">Dashboard</h2>

        <div class="dashboard-teaser-container">
            <h5 class="typo-teaser-dashboard" id"dashb">Hallo <span id="welcome">{{userid}}</span>. Willkommen im Dashboard von TripAround. Hier kannst du neue Touren erstellen oder dich von  favorisierten Touren inspirieren lassen.</h5>
        </div>

    </div>
</div>
  
</section>

<!-- My tours -->

<section id="my-tours">

    <div class="container text-center dashboard-container">

        <h2 class="typo-head-big">Meine Touren</h2>

        <a href="" class="btn-xl btn-xl-in-text btn-xl-margin-bottom" id="savebutt" data-toggle="modal">Neue Tour erstellen</a>

        <div class="row">
            
            <!-- tiles container -->
            <div class="col-lg-4 tiles-container">
                <a href="#overview" class="tiles-single-container">
                    <!-- topbar container -->
                    <div class="tiles-topbar-container text-left">
                        <ul>
                            <li class="tiles-topbar-icons">
                                <i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                                <p class="typo-tiles-topbar">1365</p>
                            </li>
                            <!-- share button -->
                            <li class="tiles-topbar-icons">
                                <div class="tiles-share-container">
                                    <i class="fa fa-share-alt typo-tiles-icon-topbar" aria-hidden="true"></i>
                                    <ul class="tiles-share-icons-container">
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-facebook btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-instagram btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-twitter btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-pinterest-p btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!-- edit and delete button button -->
                            <li class="tiles-topbar-icons">
                                <a class="fa fa-pencil typo-tiles-icon-topbar" aria-hidden="true"></a>
                            </li>
                            <li class="tiles-topbar-icons">
                                <a class="fa fa-trash typo-tiles-icon-topbar" aria-hidden="true"></a>
                            </li>
                            <!-- right side icons -->
                            <ul>
                                <li class="tiles-topbar-status-container">
                                    <a href="" class="btn-icon-status btn-private">
                                        <i class="fa fa-lock typo-tiles-icon-topbar typo-white btn-private icon-is-active" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn-icon-status btn-public">
                                        <i class="fa fa-globe typo-tiles-icon-topbar typo-white btn-public icon-not-active" aria-hidden="true"></i>
                                    <a href="">
                                </li>
                            </ul>
                        </ul>
                    </div>
                    <!-- tiles image -->
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-01.jpg);"></div>
                    <!-- tiles tour name -->
                    <h3 class="typo-tiles-head text-center">Frankreich & Spanien</h3>
                    <!-- tiles description -->
                    <p class="typo-tiles-description">Reise im VW-Bus von Hamburg bis Madrid und wieder zurück.</p>
                    <!-- tiles bottom information -->
                    <div class="tiles-info-container">
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>21 Tage</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>642 km</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>8 Stops</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Flug, Schiff</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- tiles container -->
            <div class="col-lg-4 tiles-container">
                <a href="#overview" class="tiles-single-container">
                    <!-- topbar container -->
                    <div class="tiles-topbar-container text-left">
                        <ul>
                            <li class="tiles-topbar-icons">
                                <i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                                <p class="typo-tiles-topbar">135</p>
                            </li>
                            <!-- share button -->
                            <li class="tiles-topbar-icons">
                                <div class="tiles-share-container">
                                    <i class="fa fa-share-alt typo-tiles-icon-topbar" aria-hidden="true"></i>
                                    <ul class="tiles-share-icons-container">
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-facebook btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-instagram btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-twitter btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-pinterest-p btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!-- edit and delete button button -->
                            <li class="tiles-topbar-icons">
                                <a class="fa fa-pencil typo-tiles-icon-topbar" aria-hidden="true"></a>
                            </li>
                            <li class="tiles-topbar-icons">
                                <a class="fa fa-trash typo-tiles-icon-topbar" aria-hidden="true"></a>
                            </li>
                            <!-- right side icons -->
                            <ul>
                                <li class="tiles-topbar-status-container">
                                    <a href="" class="btn-icon-status btn-private">
                                        <i class="fa fa-lock typo-tiles-icon-topbar typo-white btn-private icon-not-active" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn-icon-status btn-public">
                                        <i class="fa fa-globe typo-tiles-icon-topbar typo-white btn-public icon-is-active" aria-hidden="true"></i>
                                    <a href="">
                                </li>
                            </ul>
                        </ul>
                    </div>
                    <!-- tiles image -->
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-02.jpg);"></div>
                    <!-- tiles tour name -->
                    <h3 class="typo-tiles-head text-center">Island</h3>
                    <!-- tiles description -->
                    <p class="typo-tiles-description">Roadtrip in den Sommermonaten von Mai bis August einmal quer durch die USA und Kanada</p>
                    <!-- tiles bottom information -->
                    <div class="tiles-info-container">
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>32 Tage</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>232 km</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>4 Stops</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Flug, Schiff, Bahn, Auto</p>
                        </div>
                    </div>
                </a>
            </div>
                
            <!-- tiles container -->
            <div class="col-lg-4 tiles-container">
                <a href="#overview" class="tiles-single-container">
                    <!-- topbar container -->
                    <div class="tiles-topbar-container text-left">
                        <ul>
                            <li class="tiles-topbar-icons">
                                <i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                                <p class="typo-tiles-topbar">915</p>
                            </li>
                            <!-- share button -->
                            <li class="tiles-topbar-icons">
                                <div class="tiles-share-container">
                                    <i class="fa fa-share-alt typo-tiles-icon-topbar" aria-hidden="true"></i>
                                    <ul class="tiles-share-icons-container">
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-facebook btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-instagram btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-twitter btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-pinterest-p btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!-- edit and delete button button -->
                            <li class="tiles-topbar-icons">
                                <a class="fa fa-pencil typo-tiles-icon-topbar" aria-hidden="true"></a>
                            </li>
                            <li class="tiles-topbar-icons">
                                <a class="fa fa-trash typo-tiles-icon-topbar" aria-hidden="true"></a>
                            </li>
                            <!-- right side icons -->
                            <ul>
                                <li class="tiles-topbar-status-container">
                                    <a href="" class="btn-icon-status btn-private">
                                        <i class="fa fa-lock typo-tiles-icon-topbar typo-white btn-private icon-is-active" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn-icon-status btn-public">
                                        <i class="fa fa-globe typo-tiles-icon-topbar typo-white btn-public icon-not-active" aria-hidden="true"></i>
                                    <a href="">
                                </li>
                            </ul>
                        </ul>
                    </div>
                    <!-- tiles image -->
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-02.jpg);"></div>
                    <!-- tiles tour name -->
                    <h3 class="typo-tiles-head text-center">Roadtrip durch Südostasien</h3>
                    <!-- tiles description -->
                    <p class="typo-tiles-description">Mit zwei Freunden einmal quer durch Thailand</p>
                    <!-- tiles bottom information -->
                    <div class="tiles-info-container">
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>32 Tage</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>232 km</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>4 Stops</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Flug, Schiff, Bahn, Auto</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="clearfix"></div>

            <!-- tiles container -->
            <div class="col-lg-4 tiles-container">
                <a href="#overview" class="tiles-single-container">
                    <!-- topbar container -->
                    <div class="tiles-topbar-container text-left">
                        <ul>
                            <li class="tiles-topbar-icons">
                                <i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                                <p class="typo-tiles-topbar">1365</p>
                            </li>
                            <!-- share button -->
                            <li class="tiles-topbar-icons">
                                <div class="tiles-share-container">
                                    <i class="fa fa-share-alt typo-tiles-icon-topbar" aria-hidden="true"></i>
                                    <ul class="tiles-share-icons-container">
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-facebook btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-instagram btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-twitter btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-pinterest-p btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!-- edit and delete button button -->
                            <li class="tiles-topbar-icons">
                                <a class="fa fa-pencil typo-tiles-icon-topbar" aria-hidden="true"></a>
                            </li>
                            <li class="tiles-topbar-icons">
                                <a class="fa fa-trash typo-tiles-icon-topbar" aria-hidden="true"></a>
                            </li>
                            <!-- right side icons -->
                            <ul>
                                <li class="tiles-topbar-status-container">
                                    <a href="" class="btn-icon-status btn-private">
                                        <i class="fa fa-lock typo-tiles-icon-topbar typo-white btn-private icon-not-active" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn-icon-status btn-public">
                                        <i class="fa fa-globe typo-tiles-icon-topbar typo-white btn-public icon-is-active" aria-hidden="true"></i>
                                    <a href="">
                                </li>
                            </ul>
                        </ul>
                    </div>
                    <!-- tiles image -->
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-01.jpg);"></div>
                    <!-- tiles tour name -->
                    <h3 class="typo-tiles-head text-center">Frankreich & Spanien</h3>
                    <!-- tiles description -->
                    <p class="typo-tiles-description">Reise im VW-Bus von Hamburg bis Madrid und wieder zurück.</p>
                    <!-- tiles bottom information -->
                    <div class="tiles-info-container">
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>21 Tage</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>642 km</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>8 Stops</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Flug, Schiff</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- tiles container -->
            <div class="col-lg-4 tiles-container">
                <a href="#overview" class="tiles-single-container">
                    <!-- topbar container -->
                    <div class="tiles-topbar-container text-left">
                        <ul>
                            <li class="tiles-topbar-icons">
                                <i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                                <p class="typo-tiles-topbar">135</p>
                            </li>
                            <!-- share button -->
                            <li class="tiles-topbar-icons">
                                <div class="tiles-share-container">
                                    <i class="fa fa-share-alt typo-tiles-icon-topbar" aria-hidden="true"></i>
                                    <ul class="tiles-share-icons-container">
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-facebook btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-instagram btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-twitter btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-pinterest-p btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!-- edit and delete button button -->
                            <li class="tiles-topbar-icons">
                                <a class="fa fa-pencil typo-tiles-icon-topbar" aria-hidden="true"></a>
                            </li>
                            <li class="tiles-topbar-icons">
                                <a class="fa fa-trash typo-tiles-icon-topbar" aria-hidden="true"></a>
                            </li>
                            <!-- right side icons -->
                            <ul>
                                <li class="tiles-topbar-status-container">
                                    <a href="" class="btn-icon-status btn-private">
                                        <i class="fa fa-lock typo-tiles-icon-topbar typo-white btn-private icon-is-active" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn-icon-status btn-public">
                                        <i class="fa fa-globe typo-tiles-icon-topbar typo-white btn-public icon-not-active" aria-hidden="true"></i>
                                    <a href="">
                                </li>
                            </ul>
                        </ul>
                    </div>
                    <!-- tiles image -->
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-02.jpg);"></div>
                    <!-- tiles tour name -->
                    <h3 class="typo-tiles-head text-center">Island</h3>
                    <!-- tiles description -->
                    <p class="typo-tiles-description">Roadtrip in den Sommermonaten von Mai bis August einmal quer durch die USA und Kanada</p>
                    <!-- tiles bottom information -->
                    <div class="tiles-info-container">
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>32 Tage</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>232 km</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>4 Stops</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Flug, Schiff, Bahn, Auto</p>
                        </div>
                    </div>
                </a>
            </div>
                
            <!-- tiles container -->
            <div class="col-lg-4 tiles-container">
                <a href="#overview" class="tiles-single-container">
                    <!-- topbar container -->
                    <div class="tiles-topbar-container text-left">
                        <ul>
                            <li class="tiles-topbar-icons">
                                <i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                                <p class="typo-tiles-topbar">915</p>
                            </li>
                            <!-- share button -->
                            <li class="tiles-topbar-icons">
                                <div class="tiles-share-container">
                                    <i class="fa fa-share-alt typo-tiles-icon-topbar" aria-hidden="true"></i>
                                    <ul class="tiles-share-icons-container">
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-facebook btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-instagram btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-twitter btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="btn-social-cirlce">
                                            <a>
                                                <i class="fa fa-pinterest-p btn-social-circle-typo" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <!-- edit and delete button button -->
                            <li class="tiles-topbar-icons">
                                <a class="fa fa-pencil typo-tiles-icon-topbar" aria-hidden="true"></a>
                            </li>
                            <li class="tiles-topbar-icons">
                                <a class="fa fa-trash typo-tiles-icon-topbar" aria-hidden="true"></a>
                            </li>
                            <!-- right side icons -->
                            <ul>
                                <li class="tiles-topbar-status-container">
                                    <a href="" class="btn-icon-status btn-private">
                                        <i class="fa fa-lock typo-tiles-icon-topbar typo-white btn-private icon-is-active" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="btn-icon-status btn-public">
                                        <i class="fa fa-globe typo-tiles-icon-topbar typo-white btn-public icon-not-active" aria-hidden="true"></i>
                                    <a href="">
                                </li>
                            </ul>
                        </ul>
                    </div>
                    <!-- tiles image -->
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-02.jpg);"></div>
                    <!-- tiles tour name -->
                    <h3 class="typo-tiles-head text-center">Roadtrip durch Südostasien</h3>
                    <!-- tiles description -->
                    <p class="typo-tiles-description">Mit zwei Freunden einmal quer durch Thailand</p>
                    <!-- tiles bottom information -->
                    <div class="tiles-info-container">
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>32 Tage</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>232 km</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>4 Stops</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Flug, Schiff, Bahn, Auto</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        
        <a href="#searchtours" class="btn-xl btn-xl-in-text" id="SearchTour">Alle meine Touren</a>

    </div>

</section>

<!-- My inspiration -->

<section id="my-inspiration">

    <div class="container text-center dashboard-container">

        <h2 class="typo-head-big">Meine Favoriten</h2>

        <div class="row">
            
            <!-- tiles container -->
            <div class="col-lg-4 tiles-container">
                <a href="#overview" class="tiles-single-container">
                    <!-- topbar container -->
                    <div class="tiles-topbar-container text-left">
                        <ul>
                            <li class="tiles-topbar-icons">
                                <i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                                <p class="typo-tiles-topbar">1365</p>
                            </li>
                            <li class="tiles-topbar-icons tiles-topbar-icon-right">
                                <i class="fa fa-heart typo-tiles-icon-topbar tour-is-fav" aria-hidden="true"></i></i>
                            </li>
                        </ul>
                    </div>
                    <!-- tiles image -->
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-01.jpg);"></div>
                    <!-- tiles tour name -->
                    <h3 class="typo-tiles-head text-center">Frankreich & Spanien</h3>
                    <!-- tiles description -->
                    <p class="typo-tiles-description">Reise im VW-Bus von Hamburg bis Madrid und wieder zurück.</p>
                    <!-- tiles bottom information -->
                    <div class="tiles-info-container">
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>21 Tage</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>642 km</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>8 Stops</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Flug, Schiff</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- tiles container -->
            <div class="col-lg-4 tiles-container">
                <a href="#overview" class="tiles-single-container">
                    <!-- topbar container -->
                    <div class="tiles-topbar-container text-left">
                        <ul>
                            <li class="tiles-topbar-icons">
                                <i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                                <p class="typo-tiles-topbar">1365</p>
                            </li>
                            <li class="tiles-topbar-icons tiles-topbar-icon-right">
                                <i class="fa fa-heart typo-tiles-icon-topbar tour-is-fav" aria-hidden="true"></i></i>
                            </li>
                        </ul>
                    </div>
                    <!-- tiles image -->
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-02.jpg);"></div>
                    <!-- tiles tour name -->
                    <h3 class="typo-tiles-head text-center">Island</h3>
                    <!-- tiles description -->
                    <p class="typo-tiles-description">Roadtrip in den Sommermonaten von Mai bis August einmal quer durch die USA und Kanada</p>
                    <!-- tiles bottom information -->
                    <div class="tiles-info-container">
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>32 Tage</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>232 km</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>4 Stops</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Flug, Schiff, Bahn, Auto</p>
                        </div>
                    </div>
                </a>
            </div>
                
            <!-- tiles container -->
            <div class="col-lg-4 tiles-container">
                <a href="#overview" class="tiles-single-container">
                    <!-- topbar container -->
                    <div class="tiles-topbar-container text-left">
                        <ul>
                            <li class="tiles-topbar-icons">
                                <i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                                <p class="typo-tiles-topbar">1365</p>
                            </li>
                            <li class="tiles-topbar-icons tiles-topbar-icon-right">
                                <i class="fa fa-heart typo-tiles-icon-topbar tour-is-fav" aria-hidden="true"></i></i>
                            </li>
                        </ul>
                    </div>
                    <!-- tiles image -->
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-02.jpg);"></div>
                    <!-- tiles tour name -->
                    <h3 class="typo-tiles-head text-center">Roadtrip durch Südostasien</h3>
                    <!-- tiles description -->
                    <p class="typo-tiles-description">Mit zwei Freunden einmal quer durch Thailand</p>
                    <!-- tiles bottom information -->
                    <div class="tiles-info-container">
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>32 Tage</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>232 km</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>4 Stops</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Flug, Schiff, Bahn, Auto</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="clearfix"></div>

            <!-- tiles container -->
            <div class="col-lg-4 tiles-container">
                <a href="#overview" class="tiles-single-container">
                    <!-- topbar container -->
                    <div class="tiles-topbar-container text-left">
                        <ul>
                            <li class="tiles-topbar-icons">
                                <i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                                <p class="typo-tiles-topbar">1365</p>
                            </li>
                            <li class="tiles-topbar-icons tiles-topbar-icon-right">
                                <i class="fa fa-heart typo-tiles-icon-topbar tour-is-fav" aria-hidden="true"></i></i>
                            </li>
                        </ul>
                    </div>
                    <!-- tiles image -->
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-01.jpg);"></div>
                    <!-- tiles tour name -->
                    <h3 class="typo-tiles-head text-center">Frankreich & Spanien</h3>
                    <!-- tiles description -->
                    <p class="typo-tiles-description">Reise im VW-Bus von Hamburg bis Madrid und wieder zurück.</p>
                    <!-- tiles bottom information -->
                    <div class="tiles-info-container">
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>21 Tage</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>642 km</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>8 Stops</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Flug, Schiff</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- tiles container -->
            <div class="col-lg-4 tiles-container">
                <a href="#overview" class="tiles-single-container">
                    <!-- topbar container -->
                    <div class="tiles-topbar-container text-left">
                        <ul>
                            <li class="tiles-topbar-icons">
                                <i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                                <p class="typo-tiles-topbar">1365</p>
                            </li>
                            <li class="tiles-topbar-icons tiles-topbar-icon-right">
                                <i class="fa fa-heart typo-tiles-icon-topbar tour-is-fav" aria-hidden="true"></i></i>
                            </li>
                        </ul>
                    </div>
                    <!-- tiles image -->
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-02.jpg);"></div>
                    <!-- tiles tour name -->
                    <h3 class="typo-tiles-head text-center">Island</h3>
                    <!-- tiles description -->
                    <p class="typo-tiles-description">Roadtrip in den Sommermonaten von Mai bis August einmal quer durch die USA und Kanada</p>
                    <!-- tiles bottom information -->
                    <div class="tiles-info-container">
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>32 Tage</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>232 km</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>4 Stops</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Flug, Schiff, Bahn, Auto</p>
                        </div>
                    </div>
                </a>
            </div>
                
            <!-- tiles container -->
            <div class="col-lg-4 tiles-container">
                <a href="#overview" class="tiles-single-container">
                    <!-- topbar container -->
                    <div class="tiles-topbar-container text-left">
                        <ul>
                            <li class="tiles-topbar-icons">
                                <i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                                <p class="typo-tiles-topbar">1365</p>
                            </li>
                            <li class="tiles-topbar-icons tiles-topbar-icon-right">
                                <i class="fa fa-heart typo-tiles-icon-topbar tour-is-fav" aria-hidden="true"></i></i>
                            </li>
                        </ul>
                    </div>
                    <!-- tiles image -->
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-02.jpg);"></div>
                    <!-- tiles tour name -->
                    <h3 class="typo-tiles-head text-center">Roadtrip durch Südostasien</h3>
                    <!-- tiles description -->
                    <p class="typo-tiles-description">Mit zwei Freunden einmal quer durch Thailand</p>
                    <!-- tiles bottom information -->
                    <div class="tiles-info-container">
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>32 Tage</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>232 km</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>4 Stops</p>
                        </div>
                        <div class="tiles-info-content">
                            <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Flug, Schiff, Bahn, Auto</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        
        <a href="#searchtours" class="btn-xl btn-xl-in-text" id="">Alle Inspirationen</a>

    </div>

</section>

<!-- Footer -->

<footer>

    <div class="footer-container">

        <div class="footer-container-content">

            <ul class="footer-social-container">
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-facebook typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-twitter typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-instagram typo-social-icons btn-typo-nav-white"  aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

            <ul class="footer-nav-container">
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">FAQ</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Partner</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">AGB</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Impressum</a>
                </li>
             </ul>
             
        </div>

    </div>

</footer>





<style>
  .datepicker{z-index:1151 !important;}
</style>
<!-- Upon loggin in the user sees this page first -->
<!-- old navbar
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TripAround</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="active"><a>Dashboard <span class="sr-only">(current)</span></a></li>
        <li><a href="#UploadImages">Upload Images</a></li>
        <li><a href="#ViewImages">View Uploaded Images</a></li>
        <li><a href="#imagegallery">Browse Image Gallery</a></li>
      </ul>
    </div>
  </div>
</nav>
-->

<!--<h1>TripAround</h1> -->
<!-- <h3 style="display: inline;" id ="welcome"></h3>
<h3 style="display: inline;">{{userid}}</h3> -->
<!--
<button class="btn btn-primary" id="logoutbutton">Log Out </button>
<div class="row steps">
  <div class="col-md-3 step step-current">
    <a>1. Select a map.</a>
  </div>
  <div class="col-md-3 step step-future">
    <a>2. Upload pictures.</a>
  </div>
  <div class="col-md-3 step step-future">
    <a>3. Manage your gallery.</a>
  </div>
  <div class="col-md-3 step step-future">
    <a>4. Edit your map.</a>
  </div>
  <div class="col-md-3 step step-future">
    <a>5.View Iteniary.</a>
  </div>
  <div class="col-md-3 step step-future">
    <a>6.Search Tours.</a>
  </div>
</div> -->

<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
<!--     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TripAround</a>
    </div> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#dashboard" id="dashboard"> <span class="sr-only">(current)</span></a></li>
        <li class="disabled"><a id="upload"></a></li>
        <li class="disabled"><a id="gallery"></a></li>
        <li class="disabled"><a id ="editmap"></a></li>
        <li class="disabled"><a id ="viewite"></a></li>
        <li><a href="#searchtours" id="search"></a></li>
      </ul>

   <!--    <ul class="nav navbar-nav navbar-right">
        <li><button class="btn btn-primary" id="logoutbutton">Log Out </button></li>
      </ul> -->

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--Display user's last created Maps -->
<div class="row">
  <div class="col-lg-12">
    <p id="dashb">Welcome to TripAround. Here, you can create a new map or you can select a previously saved map.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p id="info"></p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
      <!--<a class="btn btn-primary" href="" id="viewbutt" ><i class="fa fa-map-o fa-lg" aria-hidden="true"></i> View saved maps </a>-->
      <!-- <a class="btn btn-success" href="" id="savebutt" data-toggle="modal"><i class="fa fa-map-o fa-lg"></i> --><!--<sup>&nbsp;<i class="fa fa-plus fa-lg"></i></sup>--><!-- &nbsp;Create new map</a> -->
  </div>
</div>
<!-- User can create a new map -->



<!-- User can view his other maps -->

<div id="staus"></div>
<div id="dialog">
  Please log/register in to save or view maps.
</div>

<div id="formcontainer">
  Place holder for the form
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create a new map</h4>
            </div>
            <div class="modal-body">
                <form id="createform">
                    <div id="infofrm"></div>
                    <div class="form-group">
                        <label class="dashboard-label-head" for="mapname">Name your map</label>
                        <input type="text" id="mapname" class="form-control" aria-describedby="maphelp" placeholder="Example: Weekend in Paris">
                    </div>
                    <div class="form-group">
                        <label class="dashboard-label-head" for="descriptiontext">Describe your trip</label>
                        <textarea class="form-control" id="descriptiontext" rows="3" placeholder="Example: My friends and I went to Paris for a weekend. We had so much fun!"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="dashboard-label-head" for="desc">When was your tour?</label>
                        <!--<label for="startDate">Start Date</label>-->
                        <input id="datetimepicker1" type="text" class="form-control" placeholder="Start Date"/>
                        <!--<label for="endDate">End Date</label>-->
                        <input id="datetimepicker2" type="text" class="form-control" placeholder="End Date"/>
                    </div>
                    <div class="form-group">
                        <label class="dashboard-label-head" for="containGeos">Do your pictures have geotags?</label><br/>
                        <div class="btn-group" id="geoTags_info" data-toggle="buttons">
                        <label class="dashboard-label-radio" for="yesGeo"><input type="radio" name="have_geos" value="1" checked>Yes</label><br/>
                        <label class="dashboard-label-radio" for="noGeo"><input type="radio" name="have_geos" value="0" >No</label><br/>
                        <label class="dashboard-label-radio" for="tryGeo"><input type="radio" name="have_geos" value="2" >Don't know, let's try with one picture</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                <button type="button" class="btn btn-success btn-xs" id="submit">Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="viewmapregion">
</div>

<!-- <div id="myinspiration">My inspiration</div> -->

<div id="inspiarea"></div>

<!-- Modal for Editing the description -->

<div id="DescriptionEdit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit the map</h4>
      </div>
      <div class="modal-body">
        <form id="EditDescription">
          <div class="form-group">
            <label for="description">Enter a description</label>
            <textarea class="form-control" id="description" rows="3"></textarea>
          </div>
        </form>
        <div id="infodescrip"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="descriptionsub">Submit</button>
      </div>
    </div>
  </div>
</div>

<div id="confirmdeletion" title="Delete the map">
  <div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-triangle fa-3x pull-left" aria-hidden="true"></i> This map will be permanently deleted and cannot be recovered. Are you sure?</div>
</div>

<div id="publishconformation" title="Publish Maps">
  <div class="alert alert-danger" role="alert"><i class="fa fa-exclamation-triangle fa-3x pull-left" aria-hidden="true"></i> This Map will be published </div>
</div>
