<!-- Imaage upload page -->

<!-- Navigation -->

<section id="navigation">

    <nav class="nav-container">
       
        <a href="#" class="nav-logo"></a>

        <!-- Desktop navigation -->
        <div class="nav-desktop-container">

            <div class="container">

                <ul class="nav-right-container">
                    <div class"row">
                        <ul>
                            <li>
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                <a href="" class="btn-typo-nav" id="">Logout</a>
                                <a href="#searchtours" class="btn-xs btn-nav" id="">Touren</a>
                            </li>
                        </ul>
                    </div>
                </ul>

            </div>

            <div class="dropdown nav-lang">

                <a href="#" class="dropdown-toggle btn-typo-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id ="lang">Sprache</a>

                <ul class="dropdown-menu nav-dropdown pull-right" id="langdropdown">
                    <li>
                        <a href="#" id="ger" class="nav-dropdown-item">Deutsch</a>
                    </li>
                    <li>
                        <a href="#" id="eng" class="nav-dropdown-item">Englisch</a>
                    </li>
                </ul>

            </div>

        </div>
        
        <!-- Mobile navigation -->
        <div class="nav-mobile-container">

            <a href="#" class="nav-logo"></a>

            <div class="nav-mobile-right-container">

                <ul class="nav-mobile-right-items-container">

                    <li>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <a href="#login" class="btn-typo-nav" id="">Logout</a>
                    </li>

                    <li>
                        <a href="#searchtours" class="btn-typo-nav" id="">Touren</a>
                    </li>

                    <li class="dropdown nav-lang">

                        <a href="#" class="dropdown-toggle btn-typo-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id ="">Sprache</a>

                        <ul class="dropdown-menu nav-dropdown pull-right" id="">
                            <li>
                                <a href="#" id="" class="nav-dropdown-item">Deutsch</a>
                            </li>
                            <li>
                                <a href="#" id="" class="nav-dropdown-item">Englisch</a>
                            </li>
                        </ul>

                    </li>

                </ul>

            </div>
            
        </div>

    </nav>

</section>

<!-- Subnavigation small mobile -->

<section id="tours-gallery-subnav-mobile">

    <nav class="subnav-small-mobile-container text-center">
        <ul class="subnav-small-mobile-item-container">
            <li class="subnav-small-mobile-item subnav-small-mobile-item-dashboard">
                <a href="#dashboard" class="btn-subnav-mobile-typo"><i class="fa fa-caret-left" aria-hidden="true"></i> Dashboard</a>
            </li>
            <li class="subnav-small-mobile-item">
                <a href="#viewmaps" class="btn-subnav-mobile-typo">Übersicht</a>
            </li>
            <li class="subnav-small-mobile-item">
                <a href="#iteniary" class="btn-subnav-mobile-typo">Reiseroute</a>
            </li>
            <li class="subnav-small-mobile-item">
                <a href="#UploadImages" class="btn-subnav-mobile-typo subnav-small-item-active">Foto-Upload</a>
            </li>
            <li class="subnav-small-mobile-item">
                <a href="#imagegallery" class="btn-subnav-mobile-typo">Galerie</a>
            </li>
            <li class="subnav-small-mobile-item">
                <a href="#share" class="btn-subnav-mobile-typo">Share</a>
            </li>
        </ul>
    </nav>     

</section>

<!-- Head with Title and describtion of the tour -->

<section id="tours-ov-header-image">

    <div class="container text-center">

        <div class="tours-ov-head-container">
            <h2 class="typo-head-big text-center">Spanien & Südfrankreich</h2>
            <h5 class="typo-teaser">Reise im VW-Bus von Hamburg bis Madrid und wieder zurück</h5>
        </div>

</section>

<!-- Subnavigation small -->

<section id="tours-ov-subnav">

    <div class="subnav-small-wrapper">

        <div class="subnav-small-container text-center">
            <ul>
                <li class="subnav-tours-btn-container">
                    <a href="#dashboard" class="btn-subnav-small">&#9664; Dashboard</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#viewmaps" class="btn-subnav-small">Übersicht</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#iteniary" class="btn-subnav-small">Reiseroute</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#UploadImages" class="btn-subnav-small btn-small-active">Foto-Upload</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#imagegallery" class="btn-subnav-small">Galerie</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#share" class="btn-subnav-small">Share</a>
                </li>
            </ul>
        </div>     

    </div>

</section>


<!--Image Upload -->

<!--<h1>(TripAround logo)</h1>-->

<!-- <h3 style="display: inline;" id ="welcome"></h3>
<h3 style="display: inline;">{{userid}}</h3> -->
<!--
<div class="row steps">
  <div class="col-md-3 step step-past">
    <a href="#dashboard">1. Select a map.</a>
  </div>
  <div class="col-md-3 step step-current">
    <a>2. Upload pictures.</a>
  </div>
  <div class="col-md-3 step step-future">
    <a href="#imagegallery">3. Manage your gallery.</a>
  </div>
 



  <div class="col-md-3 step step-future">
    <a href="#ViewImages">4. Edit your map.</a>
  </div>
  <div class="col-md-3 step step-future">
  <a href="#iteniary">5.View Iteniary.</a>
</div>
  <div class="col-md-3 step step-future">
    <a href="#searchtours">6. Search for Tours.</a>
  </div>

</div> -->


<!-- <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
  <div class="container-fluid"> -->
    <!-- Brand and toggle get grouped for better mobile display -->
<!--     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TripAround</a>
    </div>
 -->
    <!-- Collect the nav links, forms, and other content for toggling -->
<!--     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#dashboard"  id="dashboard"></a></li>
        <li class="active"><a href="#UploadImages" id="upload"><span class="sr-only">(current)</span></a></li>
        <li><a href="#imagegallery" id="gallery"></a></li>
        <li><a href="#ViewImages" id ="editmap"> </a></li>
        <li><a href="#iteniary" id ="viewite"></a></li>
        <li><a href="#searchtours" id="search"></a></li>
        <li><a href="#share" id="share">Share Tour</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="btn btn-primary" id="logoutbutton">Log Out</a></li>
      </ul> -->

<!--     </div> --><!-- /.navbar-collapse -->
<!--   </div> --><!-- /.container-fluid -->
<!-- </nav> -->

<!-- <div class="row">
  <div class="col-lg-12">

  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p id="upldimgtitle">Upload images to your <em>{{map}}</em> map. If the images have geo tags, they will be displayed on the map below. Don't forget to save the map before leaving this page!</p>
  </div>
</div> -->

<div class="container">

    <!-- <div class="row">
        <div class="col-sm-12">
            <form id="mapform">
                <p id="maptext"><input type="submit" value="Save map" id="savemap" class="btn-xl"></p>
            </form>
        </div>
    </div> -->

    <div id="fileupload">
        <!--File upload starts-->
        <form>
            <input type="file" name="myFile" size="50" id="myFile" />
            <!--<input type="hidden" name="sampleHidden" value="MuhammadMuaz"/>-->
            <br />
            <div id="file_status"></div>
            <input id="submit_doc" type = "submit" value = "Upload File" />
        </form>
        <!--File upload ends-->
        </div>

        <div class="imageupload">
            <div class="imageuploadform">
                <div class="row">
                    <div class="col-xs-12">
                        <form id="uploadForm2" enctype="multipart/form-data">
                            <p id="uploadstatus"></p>
                            <div class="col-xs-12">
                                <input type="file" name="userPhoto" multiple id="userphoto" />
                            </div>
                          <!--
                          <div class="col-sm-6">
                            <p> <input type="submit" value="Upload Image" name="submit" id="submitbutton"></p>
                          </div> -->
                            <div id="dropzonePreview" class="dropzone img-upload-dropzone">
                                <div class="dz-default dz-message"><small class="text-muted">... oder per Drag & Drop hinzufügen</small></div>
                            </div>
                            <span id="status"></span>
                        </form>
                    </div>
                    <div class="col-xs-12 text-center">
                        <p id="maptext"><input type="submit" value="Save map" id="savemap" class="btn-xl"></p>
                    </div>
                </div>
            </div>
          <!--finish of uploading forms-->

          <!--Start of Drag and drop form -->
          <!--
          <div id="dragdrop">
            <div class="row">
              <div class="col-lg-12">
                <form id="uploadForm" action="/dragdrop">
                  <div id="someid" class="dropzone"></div>
                  <input type="submit" value="Upload Image" name="submit" id="dragdropbutton"></p>
                </form>
              </div>
            </div>
          </div> -->

          <!--Start of Google Maps -->
            <div id="googlemapcontainer">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Tagged Image</h4>
                </div>
                <div class="modal-body">
                    <div id="image-des"></div>
                    <img id="image-container">

                </div>
                <form id="imagedescription">
                    <input type="text" placeholder="Enter Description" id="imageinfo">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="imagedescriptionsub">Save</button>
            </div>
        </div>
    </div>

    <div class='holder' id="holder" style="display: none">
        <div id='holder_helper'>
            <h2 id="holder_helper_title">Drag & Drop your Image here!</h2>
        </div>
        <img id="source_image" class='img_container'/>
    </div>

    <div class='holder' id='holder_result' style="display: none">
        <img id="result_image" class='img_container' />
    </div>

<div>

<!-- Footer -->

<footer>

    <div class="footer-container">

        <div class="footer-container-content">

            <ul class="footer-social-container">
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-facebook typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-twitter typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-instagram typo-social-icons btn-typo-nav-white"  aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

            <ul class="footer-nav-container">
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">FAQ</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Partner</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">AGB</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Impressum</a>
                </li>
             </ul>
             
        </div>

    </div>

</footer>