<!-- Iteniary page -->

<!-- Navigation -->

<section id="navigation">

    <nav class="nav-container">
       
        <a href="#" class="nav-logo"></a>

        <!-- Desktop navigation -->
        <div class="nav-desktop-container">

            <div class="container">

                <ul class="nav-right-container">
                    <div class"row">
                        <ul>
                            <li>
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                <a href="" class="btn-typo-nav" id="">Logout</a>
                                <a href="#searchtours" class="btn-xs btn-nav" id="">Touren</a>
                            </li>
                        </ul>
                    </div>
                </ul>

            </div>

            <div class="dropdown nav-lang">

                <a href="#" class="dropdown-toggle btn-typo-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id ="lang">Sprache</a>

                <ul class="dropdown-menu nav-dropdown pull-right" id="langdropdown">
                    <li>
                        <a href="#" id="ger" class="nav-dropdown-item">Deutsch</a>
                    </li>
                    <li>
                        <a href="#" id="eng" class="nav-dropdown-item">Englisch</a>
                    </li>
                </ul>

            </div>

        </div>
        
        <!-- Mobile navigation -->
        <div class="nav-mobile-container">

            <a href="#" class="nav-logo"></a>

            <div class="nav-mobile-right-container">

                <ul class="nav-mobile-right-items-container">

                    <li>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <a href="#login" class="btn-typo-nav" id="">Logout</a>
                    </li>

                    <li>
                        <a href="#searchtours" class="btn-typo-nav" id="">Touren</a>
                    </li>

                    <li class="dropdown nav-lang">

                        <a href="#" class="dropdown-toggle btn-typo-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id ="">Sprache</a>

                        <ul class="dropdown-menu nav-dropdown pull-right" id="">
                            <li>
                                <a href="#" id="" class="nav-dropdown-item">Deutsch</a>
                            </li>
                            <li>
                                <a href="#" id="" class="nav-dropdown-item">Englisch</a>
                            </li>
                        </ul>

                    </li>

                </ul>

            </div>
            
        </div>

    </nav>

</section>

<!-- Subnavigation small mobile -->

<section id="tours-gallery-subnav-mobile">

    <nav class="subnav-small-mobile-container text-center">
        <ul class="subnav-small-mobile-item-container">
            <li class="subnav-small-mobile-item subnav-small-mobile-item-dashboard">
                <a href="#dashboard" class="btn-subnav-mobile-typo"><i class="fa fa-caret-left" aria-hidden="true"></i> Dashboard</a>
            </li>
            <li class="subnav-small-mobile-item">
                <a href="#viewmaps" class="btn-subnav-mobile-typo">Übersicht</a>
            </li>
            <li class="subnav-small-mobile-item">
                <a href="#iteniary" class="btn-subnav-mobile-typo subnav-small-item-active">Reiseroute</a>
            </li>
            <li class="subnav-small-mobile-item">
                <a href="#UploadImages" class="btn-subnav-mobile-typo">Foto-Upload</a>
            </li>
            <li class="subnav-small-mobile-item">
                <a href="#imagegallery" class="btn-subnav-mobile-typo">Galerie</a>
            </li>
            <li class="subnav-small-mobile-item">
                <a href="#share" class="btn-subnav-mobile-typo">Share</a>
            </li>
        </ul>
    </nav>     

</section>

<!-- Head with Title and describtion of the tour -->

<section id="tours-ov-header-image">

    <div class="container text-center">

        <div class="tours-ov-head-container">
            <h2 class="typo-head-big text-center">Spanien & Südfrankreich</h2>
            <h5 class="typo-teaser">Reise im VW-Bus von Hamburg bis Madrid und wieder zurück</h5>
        </div>

</section>

<!-- Subnavigation small -->

<section id="tours-ov-subnav">

    <div class="subnav-small-wrapper">

        <div class="subnav-small-container text-center">
            <ul>
                <li class="subnav-tours-btn-container">
                    <a href="#dashboard" class="btn-subnav-small">Dashboard</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#viewmaps" class="btn-subnav-small">Übersicht</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#iteniary" class="btn-subnav-small btn-small-active">Reiseroute</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#UploadImages" class="btn-subnav-small">Foto-Upload</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#imagegallery" class="btn-subnav-small">Galerie</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#share" class="btn-subnav-small">Share</a>
                </li>
            </ul>
        </div>     

    </div>

</section>

<!-- Maps + Add tourstop -->

<section id="tours-overview-map">

    <div class="container">
    
        <!-- Sticky map -->
        <div class="iteniary-map-wrapper">
 
            <div class="iteniary-map-container-sticky">
                <img class="img-responsive" src="/frontend/pictures/map-500x500.png">
                <aside class="tours-ov-social-container-sticky">
                    <ul>
                        <li class="btn-social-circle">
                            <a>
                                <i class="fa fa-facebook btn-social-circle-typo" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="btn-social-circle">
                            <a>
                                <i class="fa fa-instagram btn-social-circle-typo" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="btn-social-circle">
                            <a>
                                <i class="fa fa-twitter btn-social-circle-typo" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="btn-social-circle">
                            <a>
                                <i class="fa fa-pinterest-p btn-social-circle-typo" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </aside>

            </div>

        </div>
        
        <!-- Map mobile (not sticky) -->
        <div class="container tours-ov-map-container-mobile">
            <img class="img-responsive" src="/frontend/pictures/tours-maps-placeholder-small.png">
            <aside class="tours-ov-social-container-sticky">
                <ul>
                    <li class="btn-social-circle">
                        <a>
                            <i class="fa fa-facebook btn-social-circle-typo" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="btn-social-circle">
                        <a>
                            <i class="fa fa-instagram btn-social-circle-typo" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="btn-social-circle">
                        <a>
                            <i class="fa fa-twitter btn-social-circle-typo" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="btn-social-circle">
                        <a>
                            <i class="fa fa-pinterest-p btn-social-circle-typo" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </aside>

        </div>

        <div class="col-lg-6">

        <!-- Description + image upload -->
        <div class="col-lg-12 iteniary-tourstop-container">

            <div class="iteniary-infobox-container">
            
                <div class="row">

                    <div id="" class="col-xs-12 col-lg-12">
                        <h3 class="itenary-header">7 Tage Bordeaux</h3>
                    </div>

                </div>
                    
                    
                <div class="row">    
                    <!-- Add description -->  
                    <div class="col-sm-6">
                        <div id="" class="itenary-des"><textarea id="" class="textboxiteniarypage " placeholder="Bitte fügen Sie eine Beschreibungstext hinzu"></textarea>
                        </div>
                    </div>

                    <!-- Add images to gallery -->
                    <div class="col-sm-6 iteniary-gallery-container">
                        <div class="imageuploadform">
                            <form id="uploadForm2" enctype="multipart/form-data">
                                <p id="uploadstatus"></p>

                                    <input type="file" name="userPhoto" multiple id="userphoto" />

                                <div id="dropzonePreview" class="dropzone img-upload-dropzone img-upload-itenairy">
                                    <div class="dz-default dz-message"><small class="text-muted">Bilder hochladen</small></div>
                                </div>
                                <span id="status"></span>
                            </form>
                        </div>
                    </div>

                </div>
                
                <!-- Buttons tourstop -->
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn-xs" id="replayTourAnimation">Tourstop Löschen</button>
                        <div class="float-right">
                            <button type="button" class="btn-xs-inv" id="replayTourAnimation">Edit</button>
                            <button type="button" class="btn-xs" id="replayTourAnimation">Speichern</button>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Slideshow -->   
            <div class="row">

                <div class="col-lg-12">
                    <!-- Owl carousel -->
                    <div class="owl-carousel owl-theme">
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-03.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-02.jpg" alt=""></div>
                        <div class="item" style="width:150px"><img src="/frontend/pictures/placeholder-veritical.jpg" alt=""></div>
                    </div>
                </div>
                
            </div>

        </div>

        <!-- Description + image upload -->
        <div class="col-lg-12 iteniary-tourstop-container">

            <div class="iteniary-infobox-container">
            
                <div class="row">

                    <div id="" class="col-xs-12 col-lg-12">
                        <h3 class="itenary-header">7 Tage Bordeaux</h3>
                    </div>

                </div>
                    
                    
                <div class="row">    
                    <!-- Add description -->  
                    <div class="col-sm-6">
                        <div id="" class="itenary-des"><textarea id="" class="textboxiteniarypage " placeholder="Bitte fügen Sie eine Beschreibungstext hinzu"></textarea>
                        </div>
                    </div>

                    <!-- Add images to gallery -->
                    <div class="col-sm-6 iteniary-gallery-container">
                        <div class="imageuploadform">
                            <form id="uploadForm2" enctype="multipart/form-data">
                                <p id="uploadstatus"></p>

                                    <input type="file" name="userPhoto" multiple id="userphoto" />

                                <div id="dropzonePreview" class="dropzone img-upload-dropzone img-upload-itenairy">
                                    <div class="dz-default dz-message"><small class="text-muted">Bilder hochladen</small></div>
                                </div>
                                <span id="status"></span>
                            </form>
                        </div>
                    </div>

                </div>
                
                <!-- Buttons tourstop -->
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn-xs" id="replayTourAnimation">Tourstop Löschen</button>
                        <div class="float-right">
                            <button type="button" class="btn-xs-inv" id="replayTourAnimation">Edit</button>
                            <button type="button" class="btn-xs" id="replayTourAnimation">Speichern</button>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Slideshow -->   
            <div class="row">

                <div class="col-lg-12">
                    <!-- Owl carousel -->
                    <div class="owl-carousel owl-theme">
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-03.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-02.jpg" alt=""></div>
                        <div class="item" style="width:150px"><img src="/frontend/pictures/placeholder-veritical.jpg" alt=""></div>
                    </div>
                </div>
                
            </div>

        </div>

        <!-- Description + image upload -->
        <div class="col-lg-12 iteniary-tourstop-container">

            <div class="iteniary-infobox-container">
            
                <div class="row">

                    <div id="" class="col-xs-12 col-lg-12">
                        <h3 class="itenary-header">7 Tage Bordeaux</h3>
                    </div>

                </div>
                    
                    
                <div class="row">    
                    <!-- Add description -->  
                    <div class="col-sm-6">
                        <div id="" class="itenary-des"><textarea id="" class="textboxiteniarypage " placeholder="Bitte fügen Sie eine Beschreibungstext hinzu"></textarea>
                        </div>
                    </div>

                    <!-- Add images to gallery -->
                    <div class="col-sm-6 iteniary-gallery-container">
                        <div class="imageuploadform">
                            <form id="uploadForm2" enctype="multipart/form-data">
                                <p id="uploadstatus"></p>

                                    <input type="file" name="userPhoto" multiple id="userphoto" />

                                <div id="dropzonePreview" class="dropzone img-upload-dropzone img-upload-itenairy">
                                    <div class="dz-default dz-message"><small class="text-muted">Bilder hochladen</small></div>
                                </div>
                                <span id="status"></span>
                            </form>
                        </div>
                    </div>

                </div>
                
                <!-- Buttons tourstop -->
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn-xs" id="replayTourAnimation">Tourstop Löschen</button>
                        <div class="float-right">
                            <button type="button" class="btn-xs-inv" id="replayTourAnimation">Edit</button>
                            <button type="button" class="btn-xs" id="replayTourAnimation">Speichern</button>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Slideshow -->   
            <div class="row">

                <div class="col-lg-12">
                    <!-- Owl carousel -->
                    <div class="owl-carousel owl-theme">
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-03.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-02.jpg" alt=""></div>
                        <div class="item" style="width:150px"><img src="/frontend/pictures/placeholder-veritical.jpg" alt=""></div>
                    </div>
                </div>
                
            </div>

        </div>

    </div>

    </div>

</section>

<!-- Floating buttons to add tourstops -->

<section id="tours-floating-btn">

    <div class="iteniary-floating-container text-right">

        <div class="iteniary-floating-form-container is-hidden">
            <form class="iteniary-floating-form">
                <div class="">
                    <input type="text" placeholder="Enter Tour Stop" id="place" class="iteniary-search-form">
                </div>
                <div class="">
                    <input type="text" placeholder="Time" id="duration" class="iteniary-search-form">
                </div>
            </form>

            <div class="">
                <button type="button" class="btn-iteniary" id="createTourStop">Tourstop hinzufügen</button>
            </div>
        </div>

        <div class="iteniary-floating-btn-container">
            <div class="btn-floating">
                <i class="fa fa-plus btn-floating-circle-typo" aria-hidden="true"></i>
            </div>
        </div>

    </div>




    
</section>

<!-- Footer -->

<footer>

    <div class="footer-container">

        <div class="footer-container-content">

            <ul class="footer-social-container">
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-facebook typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-twitter typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-instagram typo-social-icons btn-typo-nav-white"  aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

            <ul class="footer-nav-container">
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">FAQ</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Partner</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">AGB</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Impressum</a>
                </li>
             </ul>
             
        </div>

    </div>

</footer>





<!-- Iteniary page -->
<!--<h1>(TripAround logo)</h1>-->
<!--<h3>Welcome, {{userid}}</h3>-->
<!-- <h3 style="display: inline;" id ="welcome"></h3>
<h3 style="display: inline;">{{userid}}</h3> -->

<!--<button class="btn btn-primary" id="logoutbutton">Log Out </button>-->
<!--
<div class="row steps">
    <div class="col-md-3 step step-past">
        <a href="#dashboard">1. Select a map.</a>
    </div>
    <div class="col-md-3 step step-past">
        <a href="#UploadImages">2. Upload pictures.</a>
    </div>
    <div class="col-md-3 step step-past">
        <a>3. Manage your gallery.</a>
    </div>
    <div class="col-md-3 step step-past">
        <a href="#ViewImages">4. Edit your map.</a>
    </div>
    <div class="col-md-3 step step-current">
        <a href="#iteniary">5.View Iteniary.</a>
    </div>
    <div class="col-md-3 step step-future">
        <a href="#searchtours">6. Search for Tours.</a>
    </div>
</div> -->

<!-- <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
    <div class="container-fluid"> -->
        <!-- Brand and toggle get grouped for better mobile display -->
<!--         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TripAround</a>
        </div> -->

        <!-- Collect the nav links, forms, and other content for toggling -->
<!--         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#dashboard" id="dashboard"></a></li>
                <li><a href="#UploadImages" id="upload"></a></li>
                <li><a href="#imagegallery" id="gallery"></a></li>
                <li><a href="#ViewImages" id="editmap"></a></li>
                <li class="active"><a href="#iteniary"  id="viewite"><span class="sr-only">(current)</span> </a></li>
                <li><a href="#searchtours" id="search"></a></li>
                <li><a href="#share" id="share">Share Tour</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="btn btn-primary" id="logoutbutton" >Log Out</a></li>
            </ul> -->

    <!--     </div> --><!-- /.navbar-collapse -->
   <!--  </div>< --><!-- /.container-fluid -->
<!-- </nav> -->

<!-- <div class="row">
    <div class="col-md-12">
        <div id="statusText"></div>
    </div>
</div> -->


<!-- <div class="row">
    <div id="googlemapcontainer">
            <div class="row">
                <div class="col-md-8">
                    <div class="w3-container w3-blue" id="IteniaryPage"> -->
                        <!--Iteniary pages go here -->
                       <!--Create Iteniary pages here -->
<!--                         <input type="text" placeholder="Enter Tour Stop" id="place">
                        <input type="text" placeholder="Time" id="duration">
                        <div class="dropdown" id="dropdownd">
                            <button class="btn btn-default dropdown-toggle" type="button" id="durationclick" data-toggle="dropdown">|||
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" id="durationmenu">
                                <li role="presentation"><div class="menuheader">Duration in Days</div></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><button role="menuitem" tabindex="-1"  id="dur1" class="btn btn-primary menubutton"> 1 </button></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><button role="menuitem" tabindex="-1" id="dur2" class="btn btn-primary menubutton"> 2 </button></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><button role="menuitem" tabindex="-1" id="dur3" class="btn btn-primary menubutton"> 3 </button></li>
                                <li role="presentation" class="divider"></li>

                            </ul>
                        </div>
                        <button type="button" class="btn btn-primary" id="createTourStop"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-primary" id="replayTourAnimation"><i class="fa fa-repeat" aria-hidden="true"></i></button> -->
                        <!--<button type="button" class="btn btn-primary" id="saveIteniary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save </button>-->
<!--                     </div>
                </div>
                <div class="col-md-4">
                    <div id="googleMap" ></div>
                </div>
            </div>
        </div>
</div> -->
