<!-- This is the Main landing page for TripAround -->

<!-- Navigation -->

<nav class="navbar navbar-light navbar-fixed-top">
   
    <a href="#" class="nav-logo"></a>

    <div class="container nav-container">
        <ul class="nav-right-center">
            <div class"row">
                <ul>
                    <li>
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <a href="#login" class="btn-typo-nav" id="login"></a>
                        <a href="#searchtours" class="btn-xs btn-nav" id="tour"></a>
                    </li>
                </ul>
            </div>
        </ul>
    </div>

    <div class="dropdown nav-lang">

        <a href="#" class="dropdown-toggle btn-typo-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id ="lang"></a>

        <ul class="dropdown-menu nav-dropdown pull-right" id="langdropdown">
            <li>
                <a href="#" id="ger" class="nav-dropdown-item"></a>
            </li>
            <li>
                <a href="#" id="eng" class="nav-dropdown-item"></a>
            </li>
        </ul>

    </div>

</nav>

<!-- Cover -->

<section>
    <div class="cover-container">

        <div class="cover-image-container"></div>

        <div class="cover-content-container">
            <h1 class="typo-head-cover" id="page1_tagline"></h1>

            <div class="container text-center">
                <a href="#searchtours" class="btn-xl" id="SearchTour"></a>
                <a href="#SaveTour" class="btn-xl" id="SaveTour"></a>
            </div>
        </div>
    </div>
</section>

<!-- New Tours -->

<section id="new-tours">
    <div class="container text-center tours-container">

        <h2 class="typo-head-big">Neue Touren</h2>

        <div class="tiles-grid">

            <!-- tiles container -->
            <div class="tiles-single-container">
                <a href="">
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-01.jpg);"></div>
                    <h3 class="typo-tiles-head text-center">Frankreich & Spanien</h3>
                        <div class="tiles-info-container">
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>21 Tage</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>642 km</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>8 Stops</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Flug, Schiff</p>
                            </div>
                        </div>
                </a>
            </div>

            <!-- tiles container -->
            <div class="tiles-single-container">
                <a href="">
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-02.jpg);"></div>
                    <h3 class="typo-tiles-head text-center">Island</h3>
                        <div class="tiles-info-container">
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>21 Tage</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>642 km</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>8 Stops</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Zug, Bike, Flug</p>
                            </div>
                        </div>
                </a>
            </div>
                
            <!-- tiles container -->
            <div class="tiles-single-container">
                <a href="">
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-03.jpg);"></div>
                    <h3 class="typo-tiles-head text-center">Roadtrip durch Südostasien</h3>
                        <div class="tiles-info-container">
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>21 Tage</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>642 km</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>8 Stops</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Zug, Bike, Flug, Taxi, Schiff</p>
                            </div>
                        </div>
                </a>
            </div>

        </div>
        
        <a href="#searchtours" class="btn-xl btn-xl-in-text" id="SearchTour">Zeige alle Touren</a>

    </div>

</section>

<!-- Features -->

<section id="features">

    <div class="container features-container">

        <h2 class="typo-head-big text-center" id="features_heading"></h2>

        <div class="row">
            <img class="img-responsive img-feature-vector" src="/frontend/pictures/landing-feature-plane.png" alt="picture of your features">

            <div class="col-lg-5">
                <img class="img-responsive img-features" src="/frontend/pictures/landing-feature-01.png" alt="picture of your features">
                <h4 class="typo-head-copytext" id="feat_head1"></h4>
                <p class="typo-copy-text-xl" id="feat_content1"></p>
            </div>

            <div class="col-lg-5 col-md-offset-2 img-features features-container-right">
                <img class="img-responsive img-features" src="/frontend/pictures/landing-feature-02.png" alt="picture of your features">
                <h4 class="typo-head-copytext" id="feat_head2"></h4>
                <p class="typo-copy-text-xl" id="feat_content2">.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5">
                <img class="img-responsive img-features" src="/frontend/pictures/landing-feature-03.png" alt="picture of your features">
                <h4 class="typo-head-copytext" id="feat_head3"></h4>
                <p class="typo-copy-text-xl" id="feat_content3"></p>
            </div>

            <div class="col-lg-5 col-md-offset-2 img-features features-container-right">
                <img class="img-responsive img-features" src="/frontend/pictures/landing-feature-04.png" alt="picture of your features">
                <h4 class="typo-head-copytext" id="feat_head4"></h4>
                <p class="typo-copy-text-xl" id="feat_content4"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5">
                <img class="img-responsive img-features" src="/frontend/pictures/landing-feature-05.png" alt="picture of your features">
                <h4 class="typo-head-copytext" id="feat_head5"></h4>
                <p class="typo-copy-text-xl" id="feat_content5"></p>
            </div>

            <div class="col-lg-5 col-md-offset-2 img-features features-container-right">

                <img class="img-responsive img-feature-vector" src="/frontend/pictures/landing-feature-camera.png" alt="picture of your features">
            </div>
        </div>

        </div>
    </div>

</section>

<!-- Infographic -->

<section id="infographic">

    <div class="infographic-container">
        <div class="container text-center">
            <h2 class="typo-head-big text-center" id="infographic_heading"></h2>
            <img class="img-responsive img-infographic" src="frontend/pictures/landing-infographic.png" alt="">
        </div>
    </div>

</section>

<!-- About us -->

<section id="about">

    <div class="container about-container">

        <h2 class="typo-head-big text-center" id="about_heading"></h2>

        <div class="row about-row-margin">
            <div class="col-lg-4">
                <h4 class="typo-head-copytext" id="about_head1"></h4>
                <p class="typo-copy-text-xl" id="about_content1"></p>
            </div>

            <div class="col-lg-7 col-md-offset-1">
                <img class="img-responsive img-features" src="/frontend/pictures/landing-about-01.jpg" alt="picture of your features">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <img class="img-responsive img-features" src="/frontend/pictures/landing-about-02.jpg" alt="picture of your features">
            </div>

            <div class="col-lg-7 col-md-offset-1">
                <p class="typo-copy-text-xl" id="about_content2"></p>
            </div>
        </div>

    </div>
    
</section>

<!-- Footer -->

<footer>

    <div class="footer-container">

        <div class="footer-container-content">

            <ul class="footer-social-container">
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-facebook typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-twitter typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-instagram typo-social-icons btn-typo-nav-white"  aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

            <ul class="footer-nav-container">
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">FAQ</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Partner</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">AGB</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Impressum</a>
                </li>
             </ul>
             
        </div>

    </div>

</footer>