<!-- This is the tour section overview -->

<!-- Navigation -->

<section id="navigation">

    <nav class="nav-container">
       
        <a href="#" class="nav-logo"></a>

        <!-- Desktop navigation -->
        <div class="nav-desktop-container">

            <div class="container">

                <ul class="nav-right-container">
                    <div class"row">
                        <ul>
                            <li>
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                <a href="#login" class="btn-typo-nav" id="">Login</a>
                                <a href="#searchtours" class="btn-xs btn-nav" id="">Touren</a>
                            </li>
                        </ul>
                    </div>
                </ul>

            </div>

            <div class="dropdown nav-lang">

                <a href="#" class="dropdown-toggle btn-typo-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id ="lang">Sprache</a>

                <ul class="dropdown-menu nav-dropdown pull-right" id="langdropdown">
                    <li>
                        <a href="#" id="ger" class="nav-dropdown-item">Deutsch</a>
                    </li>
                    <li>
                        <a href="#" id="eng" class="nav-dropdown-item">Englisch</a>
                    </li>
                </ul>

            </div>

        </div>
        
        <!-- Mobile navigation -->
        <div class="nav-mobile-container">

            <a href="#" class="nav-logo"></a>

            <div class="nav-mobile-right-container">

                <ul class="nav-mobile-right-items-container">

                    <li>
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <a href="#login" class="btn-typo-nav" id="">Login</a>
                    </li>

                    <li class="dropdown nav-lang">

                        <a href="#" class="dropdown-toggle btn-typo-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id ="">Sprache</a>

                        <ul class="dropdown-menu nav-dropdown pull-right" id="">
                            <li>
                                <a href="#" id="" class="nav-dropdown-item">Deutsch</a>
                            </li>
                            <li>
                                <a href="#" id="" class="nav-dropdown-item">Englisch</a>
                            </li>
                        </ul>

                    </li>

                </ul>
                
            </div>

        </div>

    </nav>

</section>

<!-- Head with Title and describtion of the tour -->

<section id="tours-ov-header-image">

    <div class="container text-center">

        <div class="tours-ov-head-container">
            <h2 class="typo-head-big text-center">Spanien & Südfrankreich</h2>
            <h5 class="typo-teaser">Reise im VW-Bus von Hamburg bis Madrid und wieder zurück</h5>
        </div>

</section>

<!-- Subnavigation -->

<section id="tours-ov-subnav">

    <div class="subnav-big-wrapper">

        <div class="subnav-big-container text-center">
            <ul>
                <li class="subnav-tours-btn-container">
                    <a href="#overview" class="btn-xl-inv btn-is-active">Übersicht</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#viewtour" class="btn-xl-inv">Reiseroute</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#viewgallery" class="btn-xl-inv">Galerie</a>
                </li>
            </ul>
        </div>

    </div>

</section>

<!-- Overview Map (Placeholder) -->

<section id="tours-overview-map">
    
    <div class="container tours-ov-map-container">

        <div class="col-xs-12">
        <img class="img-responsive" src="/frontend/pictures/tours-maps-placeholder.png">
        <aside class="tours-ov-social-container">
            <ul>
                <li class="btn-social-circle">
                    <a>
                        <i class="fa fa-facebook btn-social-circle-typo" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="btn-social-circle">
                    <a>
                        <i class="fa fa-instagram btn-social-circle-typo" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="btn-social-circle">
                    <a>
                        <i class="fa fa-twitter btn-social-circle-typo" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="btn-social-circle">
                    <a>
                        <i class="fa fa-pinterest-p btn-social-circle-typo" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </aside>
        </div>
    </div>

</section>

<!-- Footer -->

<footer>

    <div class="footer-container">

        <div class="footer-container-content">

            <ul class="footer-social-container">
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-facebook typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-twitter typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-instagram typo-social-icons btn-typo-nav-white"  aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

            <ul class="footer-nav-container">
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">FAQ</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Partner</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">AGB</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Impressum</a>
                </li>
             </ul>
             
        </div>

    </div>

</footer>




<!-- Main Over View Landing Page -->

<!-- <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
    <div class="container-fluid"> -->
        <!-- Brand and toggle get grouped for better mobile display -->
<!--         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TripAround</a>
        </div> -->

        <!-- Collect the nav links, forms, and other content for toggling -->
<!--         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#overview">OverView Tour <span class="sr-only">(current)</span></a></li>
                <li><a href="#viewtour">Iterniary View </a></li>
                <li><a href="#viewgallery">View Gallery</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><button class="btn btn-primary" id="Goback">Go Back</button></li>
            </ul> -->

       <!--  </div> --><!-- /.navbar-collapse -->
    <!-- </div> --><!-- /.container-fluid -->
<!-- </nav> -->

<!--             <div id="overimagecontainer" class="overviewback"> -->
                <!--<h4><span><div id="MapName"></div> <br> <div id="description"></div></span></h4>-->
<!--                 <div class="imagetext" id="MapName">Paris</div>
                <div class="imagetextdescription" id="description"></div>
            </div> -->
