<!-- This is the search page for TripAround -->

<!-- Navigation -->

<nav class="navbar navbar-light navbar-fixed-top">
   
    <a href="#" class="nav-logo"></a>

    <div class="container nav-container">

        <ul class="nav-right-center">
            <div class"row">
                <ul>
                    <li>
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <a href="" class="btn-typo-nav" id="">Login</a>
                        <a href="" class="btn-xs btn-nav" id="">Touren</a>
                    </li>
                </ul>
            </div>
        </ul>

        <div class="dropdown nav-lang">
             <a href="" class="dropdown-toggle btn-typo-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id ="">Sprache</a>
            <ul class="dropdown-menu nav-dropdown pull-right" id="">
                <li>
                    <a href="" id="ger" class="nav-dropdown-item">Deutsch</a>
                </li>
                <li>
                    <a href="" id="eng" class="nav-dropdown-item">Englisch</a>
                </li>
            </ul>
        </div>

    </div>

</nav>

<!-- Head image -->

<section id="tours-header-image">
	<div class="tours-header-container">
		<div class="tours-header-typo-container text-center">
			<h2 class="typo-head-big">Touren</h2>
		</div>
	</div>
</section>

<!-- Search form -->

<section id="search-form">
	
	<div class="container">
		<div class="row">

			<div class="col-lg-8">
				<form>
					<input class="tours-search" type="text" name="search" placeholder="Finde deine Rundreisen">
				</form>		
			</div>

			<div class="col-lg-4">
				<a href="" class="btn-xl btn-xl-in-text text-center" id="">Touren Suchen</a>
			</div>

		</div>
		
	</div>

</section>



<!-- <h3 class="serachheading" id="search">Search Page</h3>
<div id="status"></div>
<div id="searchbutton"><button id="SearchTour">Make Favorite</button></div> -->


<!--Dynamically diaplay all maps that have a "Y" as their publish status -->
<div id="viewmapregionsearch" class="row">
</div>
