<!-- This is the search page for TripAround -->

<!-- Navigation -->

<section id="navigation">

    <nav class="nav-container">
       
        <a href="#" class="nav-logo"></a>

        <!-- Desktop navigation -->
        <div class="nav-desktop-container">

            <div class="container">

                <ul class="nav-right-container">
                    <div class"row">
                        <ul>
                            <li>
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                <a href="#login" class="btn-typo-nav" id="">Login</a>
                                <a href="#searchtours" class="btn-xs btn-nav" id="">Touren</a>
                            </li>
                        </ul>
                    </div>
                </ul>

            </div>

            <div class="dropdown nav-lang">

                <a href="#" class="dropdown-toggle btn-typo-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id ="lang">Sprache</a>

                <ul class="dropdown-menu nav-dropdown pull-right" id="langdropdown">
                    <li>
                        <a href="#" id="ger" class="nav-dropdown-item">Deutsch</a>
                    </li>
                    <li>
                        <a href="#" id="eng" class="nav-dropdown-item">Englisch</a>
                    </li>
                </ul>

            </div>

        </div>
        
        <!-- Mobile navigation -->
        <div class="nav-mobile-container">

            <a href="#" class="nav-logo"></a>

            <div class="nav-mobile-right-container">

                <ul class="nav-mobile-right-items-container">

                    <li>
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <a href="#login" class="btn-typo-nav" id="">Login</a>
                    </li>

                    <li class="dropdown nav-lang">

                        <a href="#" class="dropdown-toggle btn-typo-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id ="">Sprache</a>

                        <ul class="dropdown-menu nav-dropdown pull-right" id="">
                            <li>
                                <a href="#" id="" class="nav-dropdown-item">Deutsch</a>
                            </li>
                            <li>
                                <a href="#" id="" class="nav-dropdown-item">Englisch</a>
                            </li>
                        </ul>

                    </li>

                </ul>
                
            </div>

        </div>

    </nav>

</section>

<!-- Head image -->

<section id="tours-header-image">

	<div class="tours-header-container">
		<div class="tours-header-typo-container text-center">
			<h2 class="typo-head-big">Alle Touren</h2>
		</div>
	</div>
	
</section>

<!-- Search form -->

<section id="search-form">
	
	<div class="container tours-search-form-container">
		<div class="row">

			<div class="col-sm-8">
				<form>
					<input class="tours-search" type="text" name="search" placeholder="Finde deine Rundreisen">
				</form>		
			</div>

			<div class="col-sm-4 text-center">
				<a href="" class="btn-xl btn-xl-in-text text-center" id="">Touren Suchen</a>
			</div>

		</div>
		
	</div>

</section>

<!-- Tours -->

<section id="tours">

    <div class="container text-center">

        <div class="tiles-grid">

            <div class="tiles-single-container">

                <a href="">

                	<div class="tiles-topbar-container text-left">
                		<ul>
                			<li class="tiles-topbar-icons">
                				<i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                				<p class="typo-tiles-topbar">1365</p>
                			</li>
                			<li class="tiles-topbar-icons tiles-topbar-icon-right">
                				<i class ="fa fa-heart-o typo-tiles-icon-topbar" aria-hidden="true"></i>
                			</li>
                		</ul>
                	</div>

                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-01.jpg);"></div>
                    <h3 class="typo-tiles-head text-center">Frankreich & Spanien</h3>
                    <p class="typo-tiles-description">Reise im VW-Bus von Hamburg bis Madrid und wieder zurück.</p>
                        <div class="tiles-info-container">
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>21 Tage</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>642 km</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>8 Stops</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Flug, Schiff</p>
                            </div>
                        </div>
                </a>
            </div>

            <div class="tiles-single-container">

                <a href="">

                	<div class="tiles-topbar-container text-left">
                		<ul>
                			<li class="tiles-topbar-icons">
                				<i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                				<p class="typo-tiles-topbar">478</p>
                			</li>
                			<li class="tiles-topbar-icons tiles-topbar-icon-right">
                				<i class ="fa fa-heart-o typo-tiles-icon-topbar" aria-hidden="true"></i>
                			</li>
                		</ul>
                	</div>

                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-02.jpg);"></div>
                    <h3 class="typo-tiles-head text-center">Island</h3>
                    <p class="typo-tiles-description">Roadtrip in den Sommermonaten von Mai bis August einmal quer durch die USA und Kanada</p>
                        <div class="tiles-info-container">
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>21 Tage</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>642 km</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>8 Stops</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Zug, Bike, Flug</p>
                            </div>
                        </div>
                </a>

            </div>
                
            <div class="tiles-single-container">

                <a href="">

                	<div class="tiles-topbar-container text-left">
                		<ul>
                			<li class="tiles-topbar-icons">
                				<i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                				<p class="typo-tiles-topbar">1313</p>
                			</li>
                			<li class="tiles-topbar-icons tiles-topbar-icon-right">
                				<i class ="fa fa-heart-o typo-tiles-icon-topbar" aria-hidden="true"></i>
                			</li>
                		</ul>
                	</div>

                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-03.jpg);"></div>
                    <h3 class="typo-tiles-head text-center">Roadtrip durch Südostasien</h3>
                    <p class="typo-tiles-description">Mit zwei Freunden einmal quer durch Thailand</p>
                        <div class="tiles-info-container">
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>21 Tage</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>642 km</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>8 Stops</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Zug, Bike, Flug, Taxi, Schiff</p>
                            </div>
                        </div>
                </a>

            </div>

            <div class="tiles-single-container">

                <a href="">

                	<div class="tiles-topbar-container text-left">
                		<ul>
                			<li class="tiles-topbar-icons">
                				<i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                				<p class="typo-tiles-topbar">659</p>
                			</li>
                			<li class="tiles-topbar-icons tiles-topbar-icon-right">
                				<i class ="fa fa-heart-o typo-tiles-icon-topbar" aria-hidden="true"></i>
                			</li>
                		</ul>
                	</div>

                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-01.jpg);"></div>
                    <h3 class="typo-tiles-head text-center">Frankreich & Spanien</h3>
                    <p class="typo-tiles-description">Reise im VW-Bus von Hamburg bis Madrid und wieder zurück.</p>
                        <div class="tiles-info-container">
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>21 Tage</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>642 km</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>8 Stops</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Flug, Schiff</p>
                            </div>
                        </div>
                </a>

            </div>

            <div class="tiles-single-container">

                <a href="">

                	<div class="tiles-topbar-container text-left">
                		<ul>
                			<li class="tiles-topbar-icons">
                				<i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                				<p class="typo-tiles-topbar">6875</p>
                			</li>
                			<li class="tiles-topbar-icons tiles-topbar-icon-right">
                				<i class ="fa fa-heart-o typo-tiles-icon-topbar" aria-hidden="true"></i>
                			</li>
                		</ul>
                	</div>

                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-02.jpg);"></div>
                    <h3 class="typo-tiles-head text-center">Island</h3>
                    <p class="typo-tiles-description">Roadtrip in den Sommermonaten von Mai bis August einmal quer durch die USA und Kanada</p>
                        <div class="tiles-info-container">
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>21 Tage</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>642 km</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>8 Stops</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Zug, Bike, Flug</p>
                            </div>
                        </div>
                </a>
            </div>
                
            <div class="tiles-single-container">

                <a href="">

                	<div class="tiles-topbar-container text-left">
                		<ul>
                			<li class="tiles-topbar-icons">
                				<i class="fa fa-eye typo-tiles-icon-topbar" aria-hidden="true"></i>
                				<p class="typo-tiles-topbar">267</p>
                			</li>
                			<li class="tiles-topbar-icons tiles-topbar-icon-right">
                				<i class ="fa fa-heart-o typo-tiles-icon-topbar" aria-hidden="true"></i>
                			</li>
                		</ul>
                	</div>

                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-03.jpg);"></div>
                    <h3 class="typo-tiles-head text-center">Roadtrip durch Südostasien</h3>
                    <p class="typo-tiles-description">Mit zwei Freunden einmal quer durch Thailand</p>
                        <div class="tiles-info-container">
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-calendar" aria-hidden="true"></i><br>21 Tage</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-signs" aria-hidden="true"></i><br>642 km</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-map-o" aria-hidden="true"></i><br>8 Stops</p>
                            </div>
                            <div class="tiles-info-content">
                                <p class="typo-tiles-info"><i class="fa fa-plane" aria-hidden="true"></i><br>Zug, Bike, Flug, Taxi, Schiff</p>
                            </div>
                        </div>
                </a>

            </div>

        </div>
        
        <a href="#searchtours" class="btn-xl btn-xl-in-text" id="SearchTour">Zeige alle Touren</a>

    </div>
    

</section>

<!-- Footer -->

<footer>

    <div class="footer-container">

        <div class="footer-container-content">

            <ul class="footer-social-container">
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-facebook typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-twitter typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-instagram typo-social-icons btn-typo-nav-white"  aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

            <ul class="footer-nav-container">
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">FAQ</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Partner</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">AGB</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Impressum</a>
                </li>
             </ul>
             
        </div>

    </div>

</footer>





<!-- <h3 class="serachheading" id="search">Search Page</h3>
<div id="status"></div>
<div id="searchbutton"><button id="SearchTour">Make Favorite</button></div> -->


<!--Dynamically diaplay all maps that have a "Y" as their publish status -->
<!-- <div id="viewmapregionsearch" class="row">
</div> -->
