<!-- Sharing page -->

<!-- Navigation -->

<section id="navigation">

    <nav class="nav-container">
       
        <a href="#" class="nav-logo"></a>

        <!-- Desktop navigation -->
        <div class="nav-desktop-container">

            <div class="container">

                <ul class="nav-right-container">
                    <div class"row">
                        <ul>
                            <li>
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                <a href="" class="btn-typo-nav" id="">Logout</a>
                                <a href="#searchtours" class="btn-xs btn-nav" id="">Touren</a>
                            </li>
                        </ul>
                    </div>
                </ul>

            </div>

            <div class="dropdown nav-lang">

                <a href="#" class="dropdown-toggle btn-typo-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id ="lang">Sprache</a>

                <ul class="dropdown-menu nav-dropdown pull-right" id="langdropdown">
                    <li>
                        <a href="#" id="ger" class="nav-dropdown-item">Deutsch</a>
                    </li>
                    <li>
                        <a href="#" id="eng" class="nav-dropdown-item">Englisch</a>
                    </li>
                </ul>

            </div>

        </div>
        
        <!-- Mobile navigation -->
        <div class="nav-mobile-container">

            <a href="#" class="nav-logo"></a>

            <div class="nav-mobile-right-container">

                <ul class="nav-mobile-right-items-container">

                    <li>
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <a href="#login" class="btn-typo-nav" id="">Logout</a>
                    </li>

                    <li class="dropdown nav-lang">

                        <a href="#" class="dropdown-toggle btn-typo-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id ="">Sprache</a>

                        <ul class="dropdown-menu nav-dropdown pull-right" id="">
                            <li>
                                <a href="#" id="" class="nav-dropdown-item">Deutsch</a>
                            </li>
                            <li>
                                <a href="#" id="" class="nav-dropdown-item">Englisch</a>
                            </li>
                        </ul>

                    </li>

                </ul>

            </div>
            
        </div>

    </nav>

</section>

<!-- Head with Title and describtion of the tour -->

<section id="tours-ov-header-image">

    <div class="container text-center">

        <div class="tours-ov-head-container">
            <h2 class="typo-head-big text-center">Spanien & Südfrankreich</h2>
            <h5 class="typo-teaser">Reise im VW-Bus von Hamburg bis Madrid und wieder zurück</h5>
        </div>

</section>

<!-- Subnavigation small -->

<section id="tours-ov-subnav">

    <div class="subnav-small-wrapper">

        <div class="subnav-small-container text-center">
            <ul>
                <li class="subnav-tours-btn-container">
                    <a href="#dashboard" class="btn-subnav-small">&#9664; Dashboard</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#viewmaps" class="btn-subnav-small">Übersicht</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#iteniary-nils" class="btn-subnav-small">Reiseroute</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#UploadImages" class="btn-subnav-small">Foto-Upload</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#imagegallery" class="btn-subnav-small">Galerie</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#share" class="btn-subnav-small btn-small-active">Share</a>
                </li>
            </ul>
        </div>     

    </div>

</section>

<!-- Sharing Elements -->

<section id="sharing">

    <div class="container">

        <div class"row">

            <div class="col-xs-12 col-sm-5 share-tile-container">
                <h4 class="typo-head-copytext">Teile diese Tour mit deinen Freunden</h4>
                <img class="img-responsive" src="/frontend/pictures/share-image-01.jpg" alt="Sharing picture">
                <aside class="share-social-container">
                    <ul class="share-social-icons-container">
                        <li class="btn-social-circle-sharing">
                            <a>
                                <i class="fa fa-facebook btn-social-circle-typo" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="btn-social-circle-sharing">
                            <a>
                                <i class="fa fa-instagram btn-social-circle-typo" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="btn-social-circle-sharing">
                            <a>
                                <i class="fa fa-twitter btn-social-circle-typo" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="btn-social-circle-sharing">
                            <a>
                                <i class="fa fa-pinterest-p btn-social-circle-typo" aria-hidden="true"></i>
                            </a>
                        </li>
                        <!-- <li class="subnav-tours-btn-container">
                            <a href="" class="btn-xs float-right">Link kopieren</a>
                        </li> -->
                    </ul>
                    <div class="subnav-tours-btn-container">
                            <a href="" class="btn-xs btn-xs-sharing">Link kopieren</a>
                        </div>
                </aside>
            </div>

            <div class="col-xs-12 col-sm-6 col-sm-offset-1 share-tile-container">
                <h4 class="typo-head-copytext">Designe Deine Karte</h4>
                <img class="img-responsive" src="/frontend/pictures/share-map-design.jpg" alt="Sharing picture">
            </div>

        </div>

        <div class"row">

            <div class="col-xs-12 col-sm-6 col-sm-offset-6 share-tile-container">
                <h4 class="typo-head-copytext">Erstelle dein Tour-Video</h4>
                <img class="img-responsive" src="/frontend/pictures/share-video.jpg" alt="Sharing picture">
            </div>

        </div>

    </div>

</section>

<!-- Footer -->

<footer>

    <div class="footer-container">

        <div class="footer-container-content">

            <ul class="footer-social-container">
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-facebook typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-twitter typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-instagram typo-social-icons btn-typo-nav-white"  aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

            <ul class="footer-nav-container">
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">FAQ</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Partner</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">AGB</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Impressum</a>
                </li>
             </ul>
             
        </div>

    </div>

</footer>






<!-- <h3 style="display: inline;" id ="welcome">Welcome, </h3>
<h3 style="display: inline;">{{userid}}</h3> -->

<!-- <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
  <div class="container-fluid"> -->
    <!-- Brand and toggle get grouped for better mobile display -->
<!--     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TripAround</a>
    </div> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
<!--     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#overview" id="overview">OverView Tour </a></li>
        <li><a href="#dashboard" id="dashboard">Dashboard </a></li>
        <li><a href="#UploadImages" id="upload">Upload Pictures</a></li>
        <li><a href ="#imagegallery" id="gallery">Gallery</a></li>
        <li><a href="#ViewImages" id="editmap">Edit Map </a></li>
        <li><a href="#iteniary" id="viewite">View Iterniary</a></li>
        <li><a href="#searchtours" id="search">Search for Tours</a></li>
        <li class="active"><a id="share">Share Tour<span class="sr-only">(current)</span></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="btn btn-primary" id="logoutbutton">Log Out</a></li>
      </ul> -->

<!--     </div> --><!-- /.navbar-collapse -->
<!--   </div> --><!-- /.container-fluid -->
<!-- </nav> -->

<!-- <div class="row">
  <div class="col-sm-12">
    <p id="sharehead">Here you can share your tours</p>
  </div>
</div> -->

<!-- <div>
    <div class = "item" id ="viewshare">
        <IMG STYLE=" WIDTH:260px; HEIGHT:260px; margin-right:40px; margin-top:20px; display:inline-block"  SRC="\FrontEnd\Pictures\Share.png">
        <p class="caption">Share your tour with your friends</p>
        <a target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a></li>
	    <a target="_blank" href="https://www.twitter.com"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a></li>
	    <a target="_blank" href="https://www.youtube.com"><i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i></a></li>
	    <a target="_blank" href="https://www.pinterest.com"><i class="fa fa-pinterest fa-lg" aria-hidden="true"></i></a></li>
    </div>

    <div class = "item">
        <IMG STYLE=" WIDTH:260px; HEIGHT:260px; display:inline-block; margin-right:40px; margin-top:20px;"  SRC="\FrontEnd\Pictures\Gallery.png">
        <p class="caption">Design your individual map</p>
    </div>

    <div class = "item">
        <IMG STYLE=" WIDTH:260px; HEIGHT:260px; display:inline-block; margin-top:20px;"  SRC="\FrontEnd\Pictures\menu.png">
        <p class="caption">Create your tour video</p>
    </div>
</div>
 -->
