<!-- Public gallery view -->

<!-- Navigation -->

<section id="navigation">

    <nav class="nav-container">
       
        <a href="#" class="nav-logo"></a>

        <!-- Desktop navigation -->
        <div class="nav-desktop-container">

            <div class="container">

                <ul class="nav-right-container">
                    <div class"row">
                        <ul>
                            <li>
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                <a href="#login" class="btn-typo-nav" id="">Login</a>
                                <a href="#searchtours" class="btn-xs btn-nav" id="">Touren</a>
                            </li>
                        </ul>
                    </div>
                </ul>

            </div>

            <div class="dropdown nav-lang">

                <a href="#" class="dropdown-toggle btn-typo-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id ="lang">Sprache</a>

                <ul class="dropdown-menu nav-dropdown pull-right" id="langdropdown">
                    <li>
                        <a href="#" id="ger" class="nav-dropdown-item">Deutsch</a>
                    </li>
                    <li>
                        <a href="#" id="eng" class="nav-dropdown-item">Englisch</a>
                    </li>
                </ul>

            </div>

        </div>
        
        <!-- Mobile navigation -->
        <div class="nav-mobile-container">

            <a href="#" class="nav-logo"></a>

            <div class="nav-mobile-right-container">

                <ul class="nav-mobile-right-items-container">

                    <li>
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <a href="#login" class="btn-typo-nav" id="">Login</a>
                    </li>

                    <li>
                        <a href="#searchtours" class="btn-typo-nav" id="">Touren</a>
                    </li>

                    <li class="dropdown nav-lang">

                        <a href="#" class="dropdown-toggle btn-typo-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id ="">Sprache</a>

                        <ul class="dropdown-menu nav-dropdown pull-right" id="">
                            <li>
                                <a href="#" id="" class="nav-dropdown-item">Deutsch</a>
                            </li>
                            <li>
                                <a href="#" id="" class="nav-dropdown-item">Englisch</a>
                            </li>
                        </ul>

                    </li>

                </ul>
                
            </div>

        </div>

    </nav>

</section>

<!-- Subnavigation small mobile -->

<section id="tours-gallery-subnav-mobile">

    <nav class="subnav-big-mobile-container text-center">
        <ul class="subnav-small-mobile-item-container">
            <li class="subnav-big-mobile-item">
                <a href="#overview" class="btn-subnav-mobile-typo">Übersicht</a>
            </li>
            <li class="subnav-big-mobile-item">
                <a href="#viewtour" class="btn-subnav-mobile-typo">Reiseroute</a>
            </li>
            <li class="subnav-big-mobile-item">
                <a href="#viewgallery" class="btn-subnav-mobile-typo subnav-small-item-active">Galerie</a>
            </li>
        </ul>
    </nav>     

</section>

<!-- Head with Title and describtion of the tour -->

<section id="tours-ov-header-image">

    <div class="container text-center">

        <div class="tours-ov-head-container">
            <h2 class="typo-head-big text-center">Spanien & Südfrankreich</h2>
            <h5 class="typo-teaser">Reise im VW-Bus von Hamburg bis Madrid und wieder zurück</h5>
        </div>

</section>

<!-- Subnavigation -->

<section id="tours-ov-subnav">

    <div class="subnav-big-wrapper">

        <div class="subnav-big-container text-center">
            <ul>
                <li class="subnav-tours-btn-container">
                    <a href="#overview" class="btn-xl-inv">Übersicht</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#viewtour" class="btn-xl-inv">Reiseroute</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#viewgallery" class="btn-xl-inv btn-is-active">Galerie</a>
                </li>
            </ul>
        </div>

    </div>

</section>

<!-- Image gallery overview -->

<section id="image-gallery">

    <div class="container">

        <div class="row" id="viewgallery">

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="gallery-tourstop">
                    <h4 class="typo-head-tourstop">San Sebastian<br><i class="fa fa-caret-right typo-tourstop-triangle" aria-hidden="true"></i></h4>
                </div>
            </div>
            <a class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery-image-container" href="/frontend/pictures/landing-tile-placeholder-01.jpg">
                <div class="img-gallery-thumb image" style="background-image:url(/frontend/pictures/landing-tile-placeholder-01.jpg);">
                    <figcaption class="typo-figcaption">Das ist eine sehr schönes Bild, unter der dieses BU steht</figcaption>
                </div>
            </a>
            <a class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery-image-container" href="/frontend/pictures/landing-tile-placeholder-02.jpg">
                <div class="img-gallery-thumb" style="background-image:url(/frontend/pictures/landing-tile-placeholder-02.jpg);"></div>
            </a>

            <a class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery-image-container" href="/frontend/pictures/landing-tile-placeholder-03.jpg" >
                <div class="img-gallery-thumb" style="background-image:url(/frontend/pictures/landing-tile-placeholder-03.jpg);"></div>
            </a>

            <a class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery-image-container" href="/frontend/pictures/landing-tile-placeholder-01.jpg">
                <div class="img-gallery-thumb" style="background-image:url(/frontend/pictures/landing-tile-placeholder-01.jpg);"></div>
            </a>
            <a class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery-image-container" href="/frontend/pictures/landing-tile-placeholder-02.jpg">
                <div class="img-gallery-thumb" style="background-image:url(/frontend/pictures/landing-tile-placeholder-02.jpg);"></div>
            </a>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="gallery-tourstop">
                    <h4 class="typo-head-tourstop">Bordeaux<br><i class="fa fa-caret-right typo-tourstop-triangle" aria-hidden="true"></i></h4>
                </div>
            </div>
            <a class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery-image-container" href="/frontend/pictures/landing-tile-placeholder-03.jpg">
                <div class="img-gallery-thumb" style="background-image:url(/frontend/pictures/landing-tile-placeholder-03.jpg);">
                    <figcaption class="typo-figcaption">Auch hier steht eine Bildunterschrift. Zum Test läuft diese allerdings über drei Zeilen. Das ist ne ganze Menge.</figcaption>
                </div>
            </a>

            <a class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery-image-container" href="/frontend/pictures/landing-tile-placeholder-01.jpg">
                <div class="img-gallery-thumb" style="background-image:url(/frontend/pictures/landing-tile-placeholder-01.jpg);"></div>
            </a>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="gallery-tourstop">
                    <h4 class="typo-head-tourstop">Santander<br><i class="fa fa-caret-right typo-tourstop-triangle" aria-hidden="true"></i></h4>
                </div>
            </div>
            <a class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery-image-container" href="/frontend/pictures/landing-tile-placeholder-02.jpg">
                <div class="img-gallery-thumb" style="background-image:url(/frontend/pictures/landing-tile-placeholder-02.jpg);"></div>
            </a>
            <a class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery-image-container" href="/frontend/pictures/landing-tile-placeholder-03.jpg">
                <div class="img-gallery-thumb" style="background-image:url(/frontend/pictures/landing-tile-placeholder-03.jpg);"></div>
            </a>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="gallery-tourstop">
                    <h4 class="typo-head-tourstop">Barcelona<br><i class="fa fa-caret-right typo-tourstop-triangle" aria-hidden="true"></i></h4>
                </div>
            </div>

            <a class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery-image-container" href="/frontend/pictures/landing-tile-placeholder-01.jpg">
                <div class="img-gallery-thumb" style="background-image:url(/frontend/pictures/landing-tile-placeholder-01.jpg);"></div>
            </a>

            <a class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery-image-container" href="/frontend/pictures/landing-tile-placeholder-02.jpg">
                <div class="img-gallery-thumb" style="background-image:url(/frontend/pictures/landing-tile-placeholder-02.jpg);"></div>
            </a>

            <a class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery-image-container" href="/frontend/pictures/landing-tile-placeholder-03.jpg">
                <div class="img-gallery-thumb" style="background-image:url(/frontend/pictures/landing-tile-placeholder-03.jpg);"></div>
            </a>

    </div>
  
</section>

<!-- Footer -->

<footer>

    <div class="footer-container">

        <div class="footer-container-content">

            <ul class="footer-social-container">
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-facebook typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-twitter typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-instagram typo-social-icons btn-typo-nav-white"  aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

            <ul class="footer-nav-container">
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">FAQ</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Partner</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">AGB</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Impressum</a>
                </li>
             </ul>
             
        </div>

    </div>

</footer>


<!-- Gallery View for the View Maps -->

<!-- <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
    <div class="container-fluid"> -->
        <!-- Brand and toggle get grouped for better mobile display -->
<!--         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TripAround</a>
        </div> -->

        <!-- Collect the nav links, forms, and other content for toggling -->
<!--         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="#overview">OverView Tour </a></li>
                <li><a href="#viewtour">Iterniary View</a></li>
                <li class="active"><a href="#viewgallery">View Gallery <span class="sr-only">(current)</span></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="btn btn-primary">Go Back</a></li>
            </ul> -->

<!--         </div> --><!-- /.navbar-collapse -->
<!--     </div> --><!-- /.container-fluid -->
<!-- </nav>

<div class="row">
<div id="mapname" class="Mapname"></div>
    <br>
</div>
<div class="row" id="viewgallery">
</div>
 -->