<!-- This is overview from the tour section -->

<!-- Navigation -->

<section id="navigation">

    <nav class="nav-container">
       
        <a href="#" class="nav-logo"></a>

        <!-- Desktop navigation -->
        <div class="nav-desktop-container">

            <div class="container">

                <ul class="nav-right-container">
                    <div class"row">
                        <ul>
                            <li>
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                <a href="#login" class="btn-typo-nav" id="">Login</a>
                                <a href="#searchtours" class="btn-xs btn-nav" id="">Touren</a>
                            </li>
                        </ul>
                    </div>
                </ul>

            </div>

            <div class="dropdown nav-lang">

                <a href="#" class="dropdown-toggle btn-typo-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id ="lang">Sprache</a>

                <ul class="dropdown-menu nav-dropdown pull-right" id="langdropdown">
                    <li>
                        <a href="#" id="ger" class="nav-dropdown-item">Deutsch</a>
                    </li>
                    <li>
                        <a href="#" id="eng" class="nav-dropdown-item">Englisch</a>
                    </li>
                </ul>

            </div>

        </div>
        
        <!-- Mobile navigation -->
        <div class="nav-mobile-container">

            <a href="#" class="nav-logo"></a>

            <div class="nav-mobile-right-container">

                <ul class="nav-mobile-right-items-container">

                    <li>
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <a href="#login" class="btn-typo-nav" id="">Login</a>
                    </li>

                    <li class="dropdown nav-lang">

                        <a href="#" class="dropdown-toggle btn-typo-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id ="">Sprache</a>

                        <ul class="dropdown-menu nav-dropdown pull-right" id="">
                            <li>
                                <a href="#" id="" class="nav-dropdown-item">Deutsch</a>
                            </li>
                            <li>
                                <a href="#" id="" class="nav-dropdown-item">Englisch</a>
                            </li>
                        </ul>

                    </li>

                </ul>
                
            </div>

        </div>

    </nav>

</section>

<!-- Head with Title and describtion of the tour -->

<section id="tours-ov-header-image">

    <div class="container text-center">

        <div class="tours-ov-head-container">
            <h2 class="typo-head-big text-center">Spanien & Südfrankreich</h2>
            <h5 class="typo-teaser">Reise im VW-Bus von Hamburg bis <br>Madrid und wieder zurück</h5>
        </div>

</section>

<!-- Subnavigation -->

<section id="tours-ov-subnav">

    <div class="subnav-big-wrapper">

        <div class="subnav-big-container text-center">
            <ul>
                <li class="subnav-tours-btn-container">
                    <a href="#overview" class="btn-xl-inv">Übersicht</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#viewtour" class="btn-xl-inv btn-is-active">Reiseroute</a>
                </li>
                <li class="subnav-tours-btn-container">
                    <a href="#viewgallery" class="btn-xl-inv">Galerie</a>
                </li>
            </ul>
        </div>

    </div>

</section>

<section id="tours-overview-map">
    
    <div class="container tours-ov-map-container">
        <img class="img-responsive" src="/frontend/pictures/tours-maps-placeholder-small.png">
        <aside class="tours-ov-social-container">
            <ul>
                <li class="btn-social-circle">
                    <a>
                        <i class="fa fa-facebook btn-social-circle-typo" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="btn-social-circle">
                    <a>
                        <i class="fa fa-instagram btn-social-circle-typo" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="btn-social-circle">
                    <a>
                        <i class="fa fa-twitter btn-social-circle-typo" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="btn-social-circle">
                    <a>
                        <i class="fa fa-pinterest-p btn-social-circle-typo" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </aside>
    </div>

</section>

<!-- Timeline -->

<section id="tour-timeline">

    <div class="container timeline-container">

        <ul class="timeline">
            <li>
                <div class="timeline-badge"></div>
                <div class="timeline-panel">
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-01.jpg);"></div>
                    <h3 class="typo-tiles-head text-center">Frankreich & Spanien</h3>
                    <p class="typo-tiles-description">Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.</p>
                    <!-- <div class="jcarousel-wrapper">
                        <div class="jcarousel">
                            <ul>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></li>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-02.jpg" alt=""></li>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-03.jpg" alt=""></li>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></li>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-02.jpg" alt=""></li>

                            </ul>
                        </div>
                        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                        
                    </div> -->

                    <!-- Owl carousel -->
                    <div class="owl-carousel owl-theme">
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-03.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-02.jpg" alt=""></div>
                        <div class="item" style="width:150px"><img src="/frontend/pictures/placeholder-veritical.jpg" alt=""></div>
                    </div>
                    
                </div>
            </li>

            
            <li>
                <div class="timeline-badge"></div>
                <div class="timeline-panel">
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-01.jpg);"></div>
                    <h3 class="typo-tiles-head text-center">Frankreich & Spanien</h3>
                    <p class="typo-tiles-description">Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.</p>
                    <!-- <div class="jcarousel-wrapper">
                        <div class="jcarousel">
                            <ul>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></li>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-02.jpg" alt=""></li>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-03.jpg" alt=""></li>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></li>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-02.jpg" alt=""></li>

                            </ul>
                        </div>
                        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                        
                    </div> -->

                    <!-- Owl carousel -->
                    <div class="owl-carousel owl-theme">
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-03.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-02.jpg" alt=""></div>
                        <div class="item" style="width:150px"><img src="/frontend/pictures/placeholder-veritical.jpg" alt=""></div>
                    </div>

                </div>
            </li>
            
            <li>
                <div class="timeline-badge"></div>
                <div class="timeline-panel">
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-01.jpg);"></div>
                    <h3 class="typo-tiles-head text-center">Frankreich & Spanien</h3>
                    <p class="typo-tiles-description">Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.</p>
                    <!-- <div class="jcarousel-wrapper">
                        <div class="jcarousel">
                            <ul>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></li>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-02.jpg" alt=""></li>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-03.jpg" alt=""></li>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></li>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-02.jpg" alt=""></li>

                            </ul>
                        </div>
                        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                        
                    </div> -->

                    <!-- Owl carousel -->
                    <div class="owl-carousel owl-theme">
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-03.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-02.jpg" alt=""></div>
                        <div class="item" style="width:150px"><img src="/frontend/pictures/placeholder-veritical.jpg" alt=""></div>
                    </div>

                </div>
            </li>
            
            <li>
                <div class="timeline-badge"></div>
                <div class="timeline-panel">
                    <div class="img-tiles" style="background-image:url(/frontend/pictures/landing-tile-placeholder-01.jpg);"></div>
                    <h3 class="typo-tiles-head text-center">Frankreich & Spanien</h3>
                    <p class="typo-tiles-description">Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans. fsfdsdf</p>
                    <!-- <div class="jcarousel-wrapper">
                        <div class="jcarousel">
                            <ul>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></li>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-02.jpg" alt=""></li>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-03.jpg" alt=""></li>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></li>
                                <li><img src="/frontend/pictures/landing-tile-placeholder-02.jpg" alt=""></li>

                            </ul>
                        </div>
                        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
                        
                    </div> -->

                    <!-- Owl carousel -->
                    <div class="owl-carousel owl-theme">
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-03.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-01.jpg" alt=""></div>
                        <div class="item" style="width:300px"><img src="/frontend/pictures/landing-tile-placeholder-02.jpg" alt=""></div>
                        <div class="item" style="width:150px"><img src="/frontend/pictures/placeholder-veritical.jpg" alt=""></div>
                    </div>

                </div>
            </li>
            
            <li class="clearfix no-float"></li>
        </ul>
    </div>

</section>

<!-- Footer -->

<footer>

    <div class="footer-container">

        <div class="footer-container-content">

            <ul class="footer-social-container">
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-facebook typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-twitter typo-social-icons btn-typo-nav-white" aria-hidden="true"></i>
                    </a>
                <li class="footer-social-icons">
                    <a href="">
                        <i class="fa fa-instagram typo-social-icons btn-typo-nav-white"  aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

            <ul class="footer-nav-container">
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">FAQ</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Partner</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">AGB</a>
                </li>
                <li class="footer-nav-items">
                    <a href="" class="nav-menu-item typo-nav-items btn-typo-nav-white">Impressum</a>
                </li>
             </ul>
             
        </div>

    </div>

</footer>


<!-- This view generates The Iterniary Page -->
<!-- <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
    <div class="container-fluid"> -->
        <!-- Brand and toggle get grouped for better mobile display -->
<!--         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TripAround</a>
        </div> -->

        <!-- Collect the nav links, forms, and other content for toggling -->
<!--         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="#overview">OverView Tour </a></li>
                <li class="active"><a href="#viewtour">Iterniary View <span class="sr-only">(current)</span></a></li>
                <li><a href="#viewgallery">View Gallery </a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><button class="btn btn-primary" id="Goback">Go Back</button></li>
            </ul> -->

   <!--      </div> --><!-- /.navbar-collapse -->
   <!--  </div --><!-- /.container-fluid -->
<!-- </nav> -->
<!--<button id="Goback" class="btn btn-primary"> Go Back </button>-->

<!--     <div id="iterniarysrc" name="iternary">
    <div id="itercontainer">
        <div id="googlemapcontainer">
            <div class="row">
                <div class="col-md-8">
                    <div class="w3-container w3-blue" id="IteniaryPageSrc"> -->
                        <!--Iteniary pages go here -->
                        <!--Create Iteniary pages here -->

<!--                     </div>
                </div>
                <div class="col-md-4">
                    <div id="googleMap" ></div>
                </div>
            </div>
        </div>
    </div>
    </div> -->



