// Styles for Cover on landingpage

.cover-container {
  background: url("/FrontEnd/Pictures/cover-landingpage.jpg") 60% 100% no-repeat;
  background-size: cover;
  margin-bottom: 200px;
  position: relative;
  width: 100%;
  height: 100vh;

  &:after {
    border-top: 6px solid $secondary;
    content: "";
    background: white;
    position: absolute;
    bottom: -10%;
    left: -100px;
    width: 150%;
    height: 30%;
    transform: rotate(-3deg);
  }
}

.cover-content-container {
  position: absolute;
  width: 100%;
  z-index: 3;
}