.dashboard-container {
	@include modules-margin;
}

.dashboard-header-container {
	background: url("/frontend/pictures/dashboard-background-image.jpg");
	background-size: cover;
	border-bottom: 4px solid $secondary;
	display: table;
	margin-top: 70px;
	width: 100%;
	height: 35vh;
}

.dashboard-header-typo-container {
	display: table-cell;
	vertical-align: middle;
}

.dashboard-teaser-container {
	background: $white;
	opacity: 0.7;
	margin: 0 auto;
	width: 50%;
	padding: 24px;

	@include respond-to('large') {
    width: 65%;
  }

  @include respond-to('medium') {
    width: 70%;
    padding: 12px;
  }

  @include respond-to('small') {
    width: 90%;
    padding: 12px;
    margin-bottom: 12px;
  }
}

// Overwrite Boostrap modal styles

.modal-title {
	font-size: 18px;
	font-weight: 700;
}

.dashboard-label-head {
	font-weight: 400;
}

.dashboard-label-radio {
	font-weight: 400;
}

.form-control {
	border-radius: 10px;
	margin-bottom: 4px;
	height: 46px;
}

.btn-group {
	font-weight: 400;
}

.input[type=checkbox], 
input[type=radio] {
	margin-right: 6px;
}