// This is the the for the gallery view

.gallery-row-container {
	margin-bottom: 30px;
}

.gallery-tourstop {
	background: $primary;
	display: table;
	padding: 12px;
	margin-bottom: 30px;
	width: 100%;
	height: 262px;
}

// Overwrite Styles for magnific popup

.mfp-counter {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.85rem;
}