.img-upload-dropzone {
	background: $black-lighter;
	border: 1px dashed $primary;
	border-radius: 10px;
}

.img-upload-itenairy {
	margin-bottom: 8px;
	min-height: 120px;
}

.img-upload-itenairy-title {
	height: 303px;
}

input[type=file] {
	margin: 0 auto;
	font-size: 14px;
	position: absolute;
	top: 25px;
	left: 25px;
}

// Overwrite dropzone classes

.dropzone .dz-preview.dz-file-preview .dz-image,
.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span,
.dropzone .dz-preview .dz-image,
.dropzone .dz-preview .dz-progress,
.dropzone .dz-preview .dz-error-message, {
	border-radius: 0;
}

.dz-image-preview {
	
	button {
		background: $primary;
		border: 0;
		border-radius: 6px;
		color: $white;
		font-size: 13px;
		padding: 2px 6px;
		position: absolute;
		left: 16px;
	}
}

.dropzone .dz-preview .dz-image {
	height: 125px;
}