// Styles for Cover on landingpage


// Styles for the cover on top of the landingpage

.cover-image-container {
  background: url("/FrontEnd/Pictures/cover-landingpage.jpg") 60% 100% no-repeat;
  background-size: cover;
  margin-bottom: 200px;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -1;

  &:before {
    border-top: 4px solid $secondary;
    content: "";
    background: $white;
    position: absolute;
    bottom: -10%;
    left: -100px;
    width: 150%;
    height: 30%;
    transform: rotate(-3deg);
  }
}

.cover-content-container {
  margin: 22vh auto 3%;
  position: absolute;
  width: 100%;
  top: 0;
}

// Styles for the tiles on the landingpage

.tours-container {
  margin-top: -280px;
  z-index: 1;
}

// Style for the feature module

.features-container {
  @include modules-margin;
}

.features-container-right {
  margin-top: 120px;

  @include respond-to('small') {
    margin-top: 0;
  }
}

.features-plane {
  display: block;

  @include respond-to('medium') {
    display: none;
  }
}

// Styles for the infographic module 

.infographic-container {
  @include modules-margin;
  background: $secondary;
  padding-top: 24px;
  padding-bottom: 48px;
  width: 100%;
}

// Styles for the about module

.about-container {
  @include modules-margin;
}

.about-row-margin {
  margin-bottom: 40px;
}