// Styles for (top) navigation

.nav-container {
  background: $white;
  border-bottom: 4px solid $secondary;
  height: 70px;
  margin: 0;
  opacity: 0.98;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nav-desktop-container {
  display: block;

  @include respond-to('small') {
    display: none;
  } 
}

.nav-container {
  padding: 22px;
}

.nav-dropdown {
  min-width: 60px;
}

.nav-dropdown-item {
  font-size: 1rem;
}

.nav-dropdown-item {

  &:hover {
    color: red;
  }
}

// // Styles for (top) mobile navigation

.nav-mobile-container {
  display: none;

  @include respond-to('small') {
    display: block;
  } 
}

.nav-mobile-burger {
  font-size: 1.5rem;
  position: absolute;
  top: 18px;
  left: 20px;
}

.nav-mobile-login {
  position: absolute;
  right: 20px;
  top: 23px;
}


.nav-lang {
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav-logo {
  background: url("/frontend/pictures/logo.png") no-repeat;
  background-size: cover;
  display: block;
  margin-top: -5px;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 38px;

  @include respond-to('small') {
    margin: -5px auto;
    top: 25px;
    left: 0;
    right: 0;
    width: 160px;
    height: 31px;
  } 
}

.nav-right-container {
  text-align: right;

  @include respond-to('xlarge') {
    text-align: center;
  } 
}

.nav-right-items {
  margin-left: 14px;
}

// Styles for subnavigation

.tours-subnav-container {
  margin: 60px 0 30px 0;
  width: 100%;
}

.subnav-small-container {
  width: 100%;
}

.subnav-big-container {
  width: 100%;
}

.subnav-big-wrapper {
  height: 101px;
}

.subnav-small-wrapper {
  height: 40px;
  margin-top: 70px;
  margin-bottom: 24px;
}

.subnav-tours-btn-container {
  display: inline;
  margin-left: 1.5%;

  &:nth-child(1) {
    margin-left: 0;
  }
}

.subnav-small-left-items {
  display: inline;
  float: left;
}

.subnav-small-right-items {
  display: inline;
  float: right;
}