// Styles for (top) navigation

.navbar {
  background: white;
  border-bottom: 4px solid $secondary;
  height: 70px;
  margin: 0;
  position: fixed;
}

.nav-container {
  padding: 22px;
}

.nav-dropdown {
  min-width: 60px;
}

.nav-dropdown-item {
  font-size: 1rem;
}

.nav-dropdown-item {

  &:hover {
    color: red;
  }
}

.nav-lang {
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav-logo {
  background: url("/frontend/pictures/logo.png") no-repeat;
  background-size: cover;
  display: block;
  margin-top: 12px;
  position: absolute;
  left: 20px;
  width: 200px;
  height: 38px;
}

.nav-right-center {
  float: right;
}

.nav-right-items {
  margin-left: 14px;
}

// Styles for subnavigation (at tours etc)

.tours-subnav-container {
  margin: 60px 0 30px 0;
}

.subnav-tours-btn-container {
  display: inline;
  margin-left: 1.5%;

  &:nth-child(1) {
    margin-left: 0;
  }
}

.subnav-small-left-items {
  display: inline;
  float: left;
}

.subnav-small-right-items {
  display: inline;
  float: right;
}