// Header

.timeline {
	@include respond-to('small') {
		margin-top: 70px;
	}
}

.tours-header-container {
	background: url("/frontend/pictures/tours-head-img.jpg");
	background-size: cover;
	border-bottom: 4px solid $secondary;
	display: table;
	width: 100%;
	height: 35vh;
}

.tours-header-typo-container {
	display: table-cell;
	padding-top: 50px;
	vertical-align: middle;
}

// Search form

.tours-search {
	background: url("/frontend/pictures/tours-magnifying-glass.png") 14px 14px no-repeat;
	border: 1px solid $primary;
	border-radius: 6px;
	box-shadow: 1px 1px 6px 0px rgba(238,80,34,0.4);
	color: $primary;
	padding-left: 48px;
	width: 100%;
	height: 63px;

	@include respond-to('medium') {
		background: url("/frontend/pictures/tours-magnifying-glass.png") 10px 10px no-repeat;
		background-size: 20px;
		height: 48px;
		margin-bottom: 14px;
		padding-left: 38px;
	}
}

.tours-search-form-container {
	@include modules-margin;
	margin-bottom: 44px;

	@include respond-to('medium') {
		margin: 34px 0;
	}
}

// Tour overview

.tours-ov-head-container {
	margin-top: 140px;
	margin-bottom: 44px;

	@include respond-to('medium') {
		margin-top: 165px;
		margin-bottom: 24px;
	}
}

.tours-ov-map-wrapper {
	display: block;
	position: relative;
	float: right;
	width: 500px;
	height: 500px;
	top: 0;

	@include respond-to('xlarge') {
		display: none;
	}
}

.tours-ov-map-container {
	position: relative;
  margin-top: 20px;
}

.tours-ov-map-container-sticky {
		position: absolute;
		width: 500px;
		height: 500px;
		top: 0;
		right: 0;
}

.tours-ov-map-container-mobile {
	display: none;
	position: relative;

	@include respond-to('xlarge') {
		display: block;
		margin-bottom: 40px;
	}
}

.tours-ov-social-container {
	position: absolute;
	top: 0;
	right: -50px;

	@include respond-to('xxlarge') {
		top: auto;
		bottom: -55px;
		right: 13px;
	}
}

.tours-ov-social-container-sticky {
	position: absolute;
	top: 0;
	right: -65px;

	@include respond-to('xxlarge') {
		top: auto;
		bottom: -55px;
		right: 0;
	}

	@include respond-to('xlarge') {
		right: 13px;
	}
}