// Header

.tours-header-container {
	background: url("/frontend/pictures/tours-head-img.jpg");
	background-size: cover;
	border-bottom: 4px solid $secondary;
	display: table;
	margin-top: 70px;
	width: 100%;
	height: 35vh;
}

.tours-header-typo-container {
	display: table-cell;
	vertical-align: middle;
}

// Search form

.tours-search {
	background: url("/frontend/pictures/tours-magnifying-glass.png") 14px 14px no-repeat;
	border: 1px solid $primary;
	border-radius: 10px;
	color: $primary;
	padding-left: 48px;
	width: 100%;
	height: 63px;
}

.tours-search-form-container {
	@include modules-margin;
	margin-bottom: 44px;
}

