// All Styles for text styling

// Headlines

.typo-head-cover {
  color: $primary;
  display: block;
  font-family: 'Bangers', sans-serif, cursive;
  font-size: 7.2rem;
  letter-spacing: 0.2rem;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.typo-head-copytext {
  font-size: 1.3rem;
  font-weight: 700;
}

.typo-head-big {
  color: $primary;
  display: block;
  font-family: 'Bangers', sans-serif, cursive;
  font-size: 4.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 34px;
}

// Tiles

.typo-tiles-head {
  background: $primary;
  color: $white;
  display: block;
  font-size: 1.2rem;
  margin: 0;
  padding: 20px;
}

.typo-tiles-info {
  display: table-cell;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;

  &:hover {
    color: $black;
  }
}

.typo-tiles-topbar {
  display: inline;
}

// Copy text styles

.typo-copy-text-xl {
  font-size: 1.2rem;
}

// Styles for icons

.typo-social-icons {
  color: $white;
  font-size: 1.4rem;
  text-align: right;
}

.typo-nav-items {
  color: $white;
  text-align: right;
}

.typo-tiles-icon-topbar {
  font-size: 1.4rem;
}