// All Styles for text styling

// General styles

.typo-white {
  color: $white;
}

.typo-black {
  color: $black;
}

// Copy text styles

.typo-copy-text-xl {
  font-size: 1.2rem;
  line-height: 150%;

  @include respond-to('small') {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }

   @include respond-to('xxsmall') {
    font-size: 1rem;
    margin-bottom: 30px;
  }
}

.typo-copy-text-m {
  font-size: 0.9rem;
}

.typo-figcaption {
  background: $secondary-lighter;
  display: block;
  font-size: 0.8rem;
  opacity: 0.7;
  padding: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

// Headlines

.typo-head-cover {
  color: $primary;
  display: block;
  font-family: 'Bangers', sans-serif, cursive;
  font-size: 7.2rem;
  line-height: 95%;
  letter-spacing: 0.2rem;
  margin-top: 0;
  margin-bottom: 60px;
  left: 0;
  right: 0;
  text-align: center;
  transform: rotate(-3deg);

  @include respond-to('medium') {
    transform: rotate(0deg);
    font-size: 4.5rem;
    margin-bottom: 30px;
  }

  @include respond-to('xsmall') {
    transform: rotate(0deg);
    font-size: 3.7rem;
    margin-bottom: 30px;
  }

  @include respond-to('xxsmall') {
    transform: rotate(0deg);
    font-size: 2.9rem;
    margin-bottom: 15px;
  } 
}

.typo-head-copytext {
  font-size: 1.3rem;
  font-weight: 500;

  @include respond-to('small') {
    font-size: 1.2rem;
  }

  @include respond-to('xxsmall') {
    font-size: 1.1rem;
  }
}

.typo-head-big {
  color: $primary;
  display: block;
  font-family: 'Bangers', sans-serif, cursive;
  font-size: 4.5rem;
  line-height: 95%;
  letter-spacing: 0.2rem;
  margin-bottom: 34px;

  @include respond-to('medium') {
    font-size: 3.5rem;
    margin-bottom: 24px;
  }

  @include respond-to('xsmall') {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  @include respond-to('xsmall') {
    font-size: 2.8rem;
    margin-bottom: 20px;
  }
}

.typo-head-big-teaser {
  @extend .typo-head-big;
  margin-bottom: 0;
}

.typo-teaser {
  font-size: 1.6rem;
  line-height: 130%;
  text-align: center;
  margin: 30px auto;
  width: 50%;

  @include respond-to('large') {
    width: 65%;
  }

  @include respond-to('medium') {
    font-size: 1.4rem;
    width: 70%;
  }

  @include respond-to('small') {
    font-size: 1.2rem;
    width: 90%;
  }
}

.typo-teaser-dashboard {
  @extend .typo-teaser;
  width: 100%;
  margin: 0;
}

// Styles in gallery section

.typo-head-tourstop {
  color: $white;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-align: center;
  width: 100%;
}

.typo-tourstop-triangle {
  font-size: 2.5rem;
  line-height: 110%;
}

// Tiles

.typo-tiles-description {
  background: $secondary-lighter;
  color: $black;
  display: block;
  font-size: 0.97rem;
  line-height: 130%;
  padding: 16px;
  margin: 0;
  text-align: center;
}

.typo-tiles-head {
  background: $primary;
  color: $white;
  display: block;
  font-size: 1.15rem;
  font-weight: 400;
  margin: 0;
  padding: 16px;
}

.typo-tiles-info {
  display: table-cell;
  font-size: 0.97rem;
  vertical-align: middle;

  &:hover {
    color: $black;
  }
}

.typo-tiles-topbar {
  display: inline;
}

// Styles for icons

.typo-social-icons {
  color: $white;
  font-size: 1.4rem;
  text-align: right;
}

.typo-nav-items {
  color: $white;
  text-align: right;
}

.typo-tiles-icon-topbar {
  font-size: 1.3rem;
  display: inline;
}