.typo-cover {
  color: rgba(238, 80, 34, 1);
  display: block;
  font-family: 'Bangers', sans-serif, cursive;
  font-size: 6.5rem;
  letter-spacing: 0.2rem;
  margin: 23vh auto;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}