.is-hidden {
	display: none;
}

.is-visible {
	display: block;
}

.btn-is-active {
	background: $primary;
	color: $white;

	&:hover {
		background: $primary;
		color: $white;
	}
}

// States for puclic and private icon on tiles

.icon-is-active {
	color: $white;
}

.icon-not-active {
	color: $primary-medium;
}