.is-hidden {
	display: none;
}

.is-visible {
	display: block;
}

.btn-is-active {
	background: $primary;
	color: $white;

	&:hover {
		background: $primary;
		color: $white;
	}
}

// States for puclic and private icon on tiles

.icon-is-active {
	color: $white;
}

.icon-not-active {
	color: $primary-medium;

	&:hover {
		color: $white;
	}
}

// State icon for favorite tours

.tour-is-fav {
	color: $primary;
}

// Sticky elements on scroll

.subnav-big-is-sticky {
	position: fixed;
	z-index: 1;
	top: 55px;
	left: 0;
	width: 100%;
}

.subnav-small-is-sticky {
	position: fixed;
	z-index: 1;
	top: 65px;
	left: 0;
	width: 100%;
}