// Styles for all buttons

.btn-icon-status {
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.btn-nav {
  margin-left: 14px;
}

.btn-text-link {
  color: red;
}

.btn-typo-nav {
  font-size: 1rem;

  &:hover {
    color: $primary;
  }
}

.btn-typo-nav-white {
  
  &:hover {
    color: $secondary;
  }
}

.btn-social-circle {
  background: $primary;
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
  line-height: 2em;
  padding: 0;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  text-decoration: none;
  text-align: center;

  &:hover {
    background: $white;
    border: 1px solid $primary;
    color: $primary;
  }

  &:hover .btn-social-circle-typo {
    color: $primary;
  }

  @include respond-to('large') {
    font-size: 20px;
    float: left;
    margin-left: 10px;
    width: 40px;
    height: 40px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.btn-social-circle-sharing {
  @extend .btn-social-circle;
  float: left;
  margin-right: 10px;
  margin-bottom: 0;

  @include respond-to('large') {
    display: inline-block;
    float: none;
    margin-right: 0;
  }

}

.btn-social-circle-typo {
  color: $white;
}

.btn-xs {
  border: 1px solid $primary;
  border-radius: 10px;
  color: $white;
  display: inline;
  font-size: 0.9rem;
  background: $primary;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;

  &:hover {
    border: 1px solid $primary;
    color: $primary;
    background: $white;
    padding: 10px 20px 10px 20px;
  }

  @include respond-to('xsmall') {
    font-size: 0.7rem;
    padding: 12px 12px;
  }
}

.btn-xs-inv {
  @extend .btn-xs;
  background: $white;
  color: $primary;

  &:hover {
    background: $primary;
    border: 1px solid $primary;
    color: $white;
  }
}

.btn-xs-login {
  @extend .btn-xs;
  width: 100%;
}

.btn-xs-sharing {
  float: right;

  @include respond-to('medium') {
    float: none;
    margin: 55px 0;
    text-align: center;
  }
}

.btn-xl {
  background: $primary;
  border: 1px solid $primary;
  border-radius: 10px;
  color: $white;
  display: inline-block;
  font-size: 1.125rem;
  padding: 18px 24px 18px 24px;
  margin: 1%;
  width: 100%;
  max-width: 297px;
  text-transform: uppercase;

  &:hover {
    border: 1px solid $primary;
    color: $primary;
    background: $white;
  }

  @include respond-to('medium') {
    border: 1px solid $primary;
    border-radius: 10px;
    color: $white;
    display: inline-block;
    font-size: 1rem;
    background: $primary;
    padding: 12px 24px 12px 24px;
    text-transform: uppercase;
    width: auto;
  }
}

.btn-xl-active {
  @extend .btn-xl;

  &:hover {
    border: 1px solid $primary;
    color: $primary;
    background: $white;
  }

}

.btn-xl-inv {
  @extend .btn-xl;
  background: $white;
  color: $primary;

  &:hover {
    border: 1px solid $primary;
    color: $white;
    background: $primary;
  }
}

.btn-xl-in-text {
  @extend .btn-xl;
  margin: 0;
}

.btn-xl-margin-bottom {
  margin-bottom: 44px;
}

// Buttons for subnavigation

.btn-subnav-small {
  background: $white;
  border: 1px solid $primary;
  border-radius: 10px;
  color: $primary;
  display: inline-block;
  font-size: 0.8rem;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  width: 140px;

  &:hover {
    background: $primary;
    border: 1px solid $white;
    color: $white;
    padding: 10px 20px 10px 20px;
  }
}

.btn-small-active {
  @extend .btn-subnav-small;
  background: $primary;
  color: $white;

  &:hover {
    background: $white;
    border: 1px solid $primary;
    color: $primary;
  }
}

// Buttons in iteniary view

.btn-iteniary {
  @extend .btn-xs;
  height: 55px;

  @include respond-to('small') {
    font-size: 0.7rem;
    height: auto;
    padding: 12px 12px;
  }
}

.btn-iteniary-duration {
  background: $primary;
  border: 1px solid $primary;
  border-color: none;
  border-radius: 10px;
  color: $white;
  font-size: 1.6rem;
  float: left;
  margin-bottom: 8px;
  padding: 2%;
  position: relative;
  width: 55px;
  height: 55px;

  @include respond-to('large') {
    float: right;
  }

  @include respond-to('xsmall') {
    font-size: 1.5rem;
    width: 48px;
    height: 48px;
  }
}

.btn-iteniary-dropdown {
  background: $white;
  border: none;
  color: $black;
  font-size: 1rem;
  padding: 10px;
  width: 100%;

  &:hover {
    background: $primary;
    color: $white;
  }
}

// .btn-small-dashboard {
//   background: $black-light;
//   border: 1px solid $primary;
// }