// Styles for all buttons

.btn-icon-status {
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.btn-nav {
  margin-left: 14px;
}

.btn-text-link {
  color: red;
}

.btn-typo-nav {

  &:hover {
    color: $primary;
  }
}

.btn-typo-nav-white {
  
  &:hover {
    color: $secondary;
  }
}

.btn-social-circle {
  background: $primary;
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
  line-height: 2em;
  padding: 0;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  text-decoration: none;
  text-align: center;

  &:hover {
    background: $white;
    border: 1px solid $primary;
    color: $primary;
  }

  &:hover .btn-social-circle-typo {
    color: $primary;
  }
}

.btn-social-circle-sharing {
  @extend .btn-social-circle;
  float: left;
  margin-right: 10px;
  margin-bottom: 0;

}

.btn-social-circle-typo {
  color: $white;
}

.btn-xs {
  border: 1px solid $primary;
  border-radius: 10px;
  color: $white;
  display: inline;
  font-size: 0.9rem;
  background: $primary;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;

  &:hover {
    border: 1px solid $primary;
    color: $primary;
    background: $white;
    padding: 10px 20px 10px 20px;
  }
}

.btn-xs-inv {
  @extend .btn-xs;
  background: $white;
  color: $primary;

  &:hover {
    background: $primary;
    border: 1px solid $primary;
    color: $white;
  }
}

.btn-xs-login {
  @extend .btn-xs;
  width: 100%;
}

.btn-xl {
  background: $primary;
  border: 1px solid $primary;
  border-radius: 10px;
  color: $white;
  display: inline-block;
  font-size: 18px;
  padding: 18px 24px 18px 24px;
  margin: 1%;
  width: 100%;
  max-width: 297px;
  text-transform: uppercase;

  &:hover {
    border: 1px solid $primary;
    color: $primary;
    background: $white;
  }
}

.btn-xl-active {
  @extend .btn-xl;

  &:hover {
    border: 1px solid $primary;
    color: $primary;
    background: $white;
  }

}

.btn-xl-inv {
  @extend .btn-xl;
  background: $white;
  color: $primary;

  &:hover {
    border: 1px solid $primary;
    color: $white;
    background: $primary;
  }
}

.btn-xl-in-text {
  @extend .btn-xl;
  margin: 0;
}

.btn-xl-margin-bottom {
  margin-bottom: 44px;
}

// Buttons for subnavigation

.btn-subnav-small {
  background: $white;
  border: 1px solid $primary;
  border-radius: 10px;
  color: $primary;
  display: inline-block;
  font-size: 0.8rem;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  width: 140px;

  &:hover {
    background: $primary;
    border: 1px solid $white;
    color: $white;
    padding: 10px 20px 10px 20px;
  }
}

.btn-small-active {
  @extend .btn-subnav-small;
  background: $primary;
  color: $white;

  &:hover {
    background: $white;
    border: 1px solid $primary;
    color: $primary;
  }
}

// Buttons in iteniary view

.btn-iteniary {
  @extend .btn-xs;
  height: 55px;
  }

.btn-iteniary-duration {
  background: $primary;
  border: 1px solid $primary;
  border-color: none;
  border-radius: 10px;
  color: $white;
  font-size: 1.6rem;
  padding: 2%;
  position: relative;
  width: 55px;
  height: 55px;
}

.btn-iteniary-dropdown {
  background: $white;
  border: none;
  color: $black;
  font-size: 1rem;
  padding: 10px;
  width: 100%;

  &:hover {
    background: $primary;
    color: $white;
  }
}

// .btn-small-dashboard {
//   background: $black-light;
//   border: 1px solid $primary;
// }