// Styles for all buttons

.btn-nav {
  margin-left: 14px;
}

.btn-typo-nav {

  &:hover {
    color: $primary;
  }
}

.btn-xs {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border: 1px solid $primary;
  border-radius: 10px;
  color: white;
  display: inline;
  font-size: 0.9rem;
  background: $primary;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;

  &:hover {
    border: 1px solid $primary;
    color: $primary;
    background: white;
    padding: 10px 20px 10px 20px;
  }
}

.btn-xl {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  background: $primary;
  border: 1px solid $primary;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 18px;
  padding: 18px 24px 18px 24px;
  margin: 1%;
  width: 100%;
  max-width: 297px;
  text-transform: uppercase;

  &:hover {
    border: 1px solid $primary;
    color: $primary;
    background: white;
  }
}