// Styles for tiles

.tiles-container {
  margin-bottom: 30px;
}

.tiles-topbar-container {
  background: $secondary-lighter;
  opacity: 0.9;
  position: absolute;
  left: 15px;
  top: 0;
  width: calc(100% - 30px);
  height: 55px;
  padding: 16px;
}

.tiles-info-content {
  background: $secondary-lighter;
  display: table;
  float: left;
  margin: 0;
  padding: 18px;
  width: 50%;
  height: 105px;
  text-align: center;

  &:nth-of-type(1) {
    background: $secondary-light;
  }

  &:nth-of-type(4) {
    background: $secondary-light;
  }
}

.tiles-topbar-icons {
  display: inline;
}

.tiles-topbar-icon-right {
  float: right;
}