.tiles-container {
  margin-bottom: 30px;
}

.tiles-topbar-container {
  background: $secondary-transparent;
  position: absolute;
  left: 15px;
  top: 0;
  width: calc(100% - 30px);
  height: 55px;
  padding: 16px;
}

.tiles-info-content {
  background: $secondary-lighter;
  display: table;
  float: left;
  margin: 0;
  padding: 18px;
  width: 50%;
  height: 105px;
  text-align: center;

  &:nth-of-type(1) {
    background: $secondary-light;
  }

  &:nth-of-type(4) {
    background: $secondary-light;
  }
}

.tiles-share-container {
  display: inline;
}

.tiles-share-container:hover .tiles-share-icons-container {
  display: block;
}

.tiles-share-icons-container {
  display: none;
  position: absolute;
  right: -14px;
  bottom: 22px;

  &:hover {
    display: block;
  }
}

.tiles-topbar-icons {
  display: inline;
  position: relative;
  margin-right: 8px;
}

.tiles-topbar-icon-right {
  float: right;
}

.tiles-topbar-status-container {
  background: $primary;
  display: inline;
  height: 55px;
  padding: 16px;
  position: absolute;
  top: 0;
  right: 0;
}